////////////////////////////////////////////////////////////
// Цвета
////////////////////////////////////////////////////////////
blue                                        = #0066bb
yellow                                      = #FFEC80
red                                         = #FF0000


aqua                                        = #7FDBFF
navy                                        = #001F3F
teal                                        = #39CCCC
green                                       = #2ECC40
olive                                       = #3D9970
lime                                        = #01FF70
orange                                      = #FF851B
fuchsia                                     = #F012BE
purple                                      = #B10DC9
maroon                                      = #85144B
white                                       = #ffffff
silver                                      = #dddddd
gray                                        = #aaaaaa
black                                       = #111111


////////////////////////////////////////////////////////////
// Шрифты
////////////////////////////////////////////////////////////
$f1 = "Verdana";
$f2 = "Georgia";
$f3 = "DroidSerif";


////////////////////////////////////////////////////////////
// Базовые
////////////////////////////////////////////////////////////

// Текст
$base-bg-color                              = #fff
$base-text-color                            = #000
$base-font-size                             = 12px
$base-font-family                           = $f1

$base-font-weight                           = 400
$base-line-height                           = 1.5

// Функция плавности
$ttf                                        = 200ms ease-in-out 0ms


////////////////////////////////////////////////////////////
// Основные размеры
////////////////////////////////////////////////////////////

// Медиа
$lg                                         = 1178px
$md                                         = 960px
$sm                                         = 640px
$xs                                         = 320px

// Мобильный отступ для враппера и .row
$wrapper-padding                            = 20px

// Размеры
$content-width                              = $lg
$content-min-width                          = $xs
$footer-height                              = 175px

// Сетка
$grid_cols_num                              = 12
$components-grid                            = true


////////////////////////////////////////////////////////////
// Ссылки
////////////////////////////////////////////////////////////
$link-color                                 = blue
$link-hover-color                           = $link-color
$link-visited-color                         = $link-color


////////////////////////////////////////////////////////////
// Дополнительно по типографии
////////////////////////////////////////////////////////////
$heading-font-family                        = "DroidSerif"
$heading-color                              = $base-text-color
$heading-font-weight                        = normal


////////////////////////////////////////////////////////////
// Таблицы
////////////////////////////////////////////////////////////
$table-border-color                         = #e6e6e6
$table-head-border-color                    = #fff
$table-back-color                           = #264b8f + 90%
$table-stripe-color                         = #f7f7f7
$table-font-color                           = $base-text-color


