mixin social(data)
	.social-likes
		.facebook(title="Поделиться ссылкой на Фейсбуке") Facebook
		.twitter(title="Поделиться ссылкой в Твиттере") Twitter
		.plusone(title="Поделиться ссылкой в Гугл-плюсе") Google+
		.vkontakte(title="Поделиться ссылкой во Вконтакте") Вконтакте
		.odnoklassniki(title="Поделиться ссылкой в Одноклассниках") Одноклассники
