// Имена шрифтов должны быть только строчными буквами,
// чтобы потом не было путаницы в регистре и пробелах
// Название папки точно такое же
// Файлы шрифтов пишутся строчными буквами и без префикса.
// Только: regular.ttf, bold.ttf, italic.ttf и т.д

font-face($f3, 'regular')
