// Миксины

// Подключение шрифтов
font-face(family, name = 'regular', weight = normal, style = normal)
	@font-face
		font-family family
		if weight
			font-weight weight
		if style
			font-style style
		src url('../fonts/' + family + '/' + name + '.eot')
		src url('../fonts/' + family + '/' + name + '.eot?#iefix') format('embedded-opentype'),
			url('../fonts/' + family + '/' + name + '.woff') format('woff'),
			url('../fonts/' + family + '/' + name + '.ttf') format('truetype')

// Треугольник
triangle( direction, size, face-color, back-color = transparent )
	width 0
	height 0
	border size solid back-color
	if direction == up || direction == down-left || direction == down-right
		border-bottom-color face-color
	if direction == down || direction == up-left || direction == up-right
		border-top-color face-color
	if direction == left || direction == down-right || direction == up-right
		border-right-color face-color
	if direction == right || direction == down-left || direction == up-left
		border-left-color face-color
	// Для равностороннего треугольника
	if direction == up
		border-bottom-width size * 1.5
	if direction == down
		border-top-width size * 1.5
	if direction == left
		border-right-width size * 1.5
	if direction == right
		border-left-width size * 1.5

// Помощь для плейсхолдера
placeholder()
	if selector() == "&"
		error( "placeholder() must be called from a ruleset!" )
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

// User select - none
noselect()
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none

// Fluid Image
image-fluid(display = block)
	display display
	max-width 100% // Part 1: Set a maximum relative to the parent
	height auto // Part 2: Scale the height according to the width, otherwise you get stretching


// Clearfix
row()
	&:before
	&:after
		display table
		content ""
	&:after
		clear both


// Сброс элементов
h-reset()
	margin 0
	font-weight normal
	font-size $base-font-size
	font-family $base-font-family

ul-reset()
	margin 0
	padding 0
	list-style none

ol-reset()
	margin 0
	padding 0
	list-style none

li-reset()
	padding 0
	margin 0


// Ссылка на весь блок поверх
link-block(z = 5)
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	z-index z

// display: inline-block с настройками
dib(width = 50%, rig = 0)
	display inline-block
	width width
	if rig == 1
		float right
	else
		float left

// display: полный
df(marginBottom = 0)
	display block
	width 100%
	float none
	if marginBottom
		margin-bottom marginBottom

// Настройка ссылки
link()
	&
	&:hover
	&:active
	&:visited
		{block}

// Родитель для fit-cover картинки
fit(blockHeight = 100px)
	position relative
	height blockHeight
	img
		width 100%

