mixin browsehappy()
	| <!--[if lt IE 9]>
	p.browsehappy&attributes(attributes) Вы используете 
		strong устаревший 
		| браузер. Пожалуйста 
		a(href="http://browsehappy.com", target="_blank") обновите браузер 
		| для лучшего отображения сайта.
	| <![endif]-->
