.page__content {
    position: relative;
    height: 100%;
    background: #ffffff;
}

.page__wrapper {
    min-width: 320px;
    min-height: 100%;
    margin-bottom: -175px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 175px;
}

.page__main {
    min-width: 320px;
    margin: 0 auto;
}

.layout {
    position: relative;
    margin: 25px 0;
    padding: 10px 0;
}

.layout__wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}

.no-mediaqueries .layout__wrapper {
    max-width: 96%;
}

.layout_line:before {
    position: absolute;
    z-index: 2;
    top: 13px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #dddddd;
    -webkit-box-shadow: 0 0 2px #bcbcc7;
    box-shadow: 0 0 2px #bcbcc7;
}

.page-title {
    margin: 20px 0 35px;
    font-size: 40px;
}

.page-title_small-margin {
    margin-top: 0;
    margin-bottom: 5px;
}

.header__wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}

.no-mediaqueries .header__wrapper {
    max-width: 96%;
}

.header__wrapper:before,
.header__wrapper:after {
    display: table;
    content: "";
}

.header__wrapper:after {
    clear: both;
}

.header__logo {
    display: inline-block;
    float: left;
    width: 11%;
    max-width: 100px;
    margin-right: 3%;
}

.header__main {
    display: inline-block;
    float: left;
    width: 54%;
    margin-top: 14px;
}

.header__more {
    display: inline-block;
    float: right;
    width: 13%;
    margin-top: 17px;
    margin-right: 1.5%;
    text-align: right;
}

.header__right {
    display: inline-block;
    float: right;
    width: 110px;
    padding-top: 21px;
    text-align: right;
}

.header__button a,
.header__button a:hover,
.header__button a:active,
.header__button a:visited {
    display: inline-block;
    padding: 4px 11px 5px;
    -webkit-transition: all 200ms ease-in-out 0ms;
    -o-transition: all 200ms ease-in-out 0ms;
    transition: all 200ms ease-in-out 0ms;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    font-size: 12px;
    font-weight: bold;
}

.header__button a:hover {
    color: #0066bb;
    border: 1px solid #0066bb;
}

.header__top-info {
    padding-top: 5px;
}

.header__top-info:before,
.header__top-info:after {
    display: table;
    content: "";
}

.header__top-info:after {
    clear: both;
}

.header__title {
    display: inline-block;
    margin: 0;
    font-family: "Verdana";
    font-size: 14px;
    font-weight: bold;
}

.header__phone {
    margin-bottom: 14px;
}

.header__phone a,
.header__phone a:hover,
.header__phone a:active,
.header__phone a:visited {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.header__phone a:hover {
    text-decoration: underline;
}

.header__phone_small {
    display: none;
    margin-top: 8px;
}

.header__phone_small a,
.header__phone_small a:hover,
.header__phone_small a:active,
.header__phone_small a:visited {
    font-size: 13px;
}

.header__menu {
    margin-top: 19px;
}

.header__social {
    margin-bottom: 16px;
}

.footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px;
    height: 175px;
    padding: 20px 0 10px;
    color: #000000;
    background-color: #ffffff;
}

.footer__wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}

.no-mediaqueries .footer__wrapper {
    max-width: 96%;
}

.footer__top {
    margin-bottom: 17px;
}

.footer__friends {
    margin-bottom: 10px;
}

.footer__friends img {
    max-width: 100%;
}

.footer__center {
    display: inline-block;
    float: left;
    width: 80%;
}

.footer__right {
    display: inline-block;
    float: left;
    width: 20%;
    margin-top: 49px;
    text-align: right;
}

.footer__counter {
    margin-bottom: 10px;
}

.red {
    color: #ff0000;
}

.menu-main {
    position: relative;
    z-index: 3;
}

.menu-main__item {
    padding: 0 10px;
    text-align: center;
}

.menu-main__item:first-child {
    padding-left: 0;
    text-align: left;
}

.menu-main__item:last-child {
    padding-right: 0;
    text-align: right;
}

.menu-main__link,
.menu-main__link:hover,
.menu-main__link:active,
.menu-main__link:visited {
    position: relative;
    color: #000000;
    font-size: 11px;
}

.menu-main__link_active {
    cursor: default;
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    color: #000000;
    border-bottom: 1px dashed transparent;
}

.menu-main__link_active:before {
    position: absolute;
    z-index: -1;
    top: -20%;
    left: -15%;
    display: block;
    width: 130%;
    height: 150%;
    content: "";
    background: transparent url("../img/text-mark.png") 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.menu-side__search {
    margin-bottom: 20px;
}

.menu-side__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-side__item {
    margin-bottom: 18px;
}

.input-search:before,
.input-search:after {
    display: table;
    content: "";
}

.input-search:after {
    clear: both;
}

.input-search input[type="text"] {
    display: inline-block;
    float: left;
    width: 85%;
    height: 25px;
    padding: 0 8px;
    letter-spacing: -0.02em;
    border-radius: 100px;
    font-size: 11px;
}

.input-search input[type="submit"],
.input-search input[type="submit"]:hover,
.input-search input[type="submit"]:focus {
    display: inline-block;
    float: left;
    width: 15%;
    height: 25px;
    padding: 0;
    border: none;
    background: transparent url("../img/arrow-enter.png") 8px 5px no-repeat;
}

.input-search input[type="submit"]:hover {
    background-position: 5px 5px;
}

.title-small:before,
.title-small:after {
    display: table;
    content: "";
}

.title-small:after {
    clear: both;
}

.title-small__title {
    display: inline-block;
    float: left;
    margin: 0;
    font-family: "Verdana";
    font-size: 12px;
    font-weight: normal;
}

.title-small__title a,
.title-small__title a:hover,
.title-small__title a:active,
.title-small__title a:visited {
    text-decoration: none;
    color: #000000;
}

.title-small__title a:hover {
    text-decoration: underline;
}

.title-small__link,
.title-small__link:hover,
.title-small__link:active,
.title-small__link:visited {
    display: inline-block;
    float: right;
    color: #0066bb;
    font-size: 11px;
}

.list-works__tabs {
    margin-bottom: 28px;
}

.list-works__top {
    margin-bottom: 16px;
}

.list-works__top:before,
.list-works__top:after {
    display: table;
    content: "";
}

.list-works__top:after {
    clear: both;
}

.list-works__list {
    margin: 0;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0;
    list-style: none;
}

.list-works__list:before,
.list-works__list:after {
    display: table;
    content: "";
}

.list-works__list:after {
    clear: both;
}

.list-works__item {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 25%;
    height: 328px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.list-works__inner {
    position: relative;
    margin: 0;
}

.list-works__link {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.list-works__image {
    position: relative;
    height: 264px;
    -webkit-transition: all 200ms ease-in-out 0ms;
    -o-transition: all 200ms ease-in-out 0ms;
    transition: all 200ms ease-in-out 0ms;
}

.list-works__image img {
    width: 100%;
}

.list-works__image img {
    width: 100%;
    -webkit-box-shadow: 0 2px 9px rgba(0,0,0,0.15);
    box-shadow: 0 2px 9px rgba(0,0,0,0.15);
}

.list-works__bottom {
    margin-top: 10px;
    padding: 0 5px;
    text-align: center;
}

.list-works__bottom__name,
.list-works__bottom__name:hover,
.list-works__bottom__name:active,
.list-works__bottom__name:visited {
    text-decoration: underline;
    color: #0066bb;
}

.cssall .list-works__inner:hover .list-works__image {
    -webkit-transform: scale(0.94);
    -ms-transform: scale(0.94);
    -o-transform: scale(0.94);
    transform: scale(0.94);
}

.cssall .list-works__inner:hover .list-works__name,
.cssall .list-works__inner:hover .list-works__name:hover,
.cssall .list-works__inner:hover .list-works__name:active,
.cssall .list-works__inner:hover .list-works__name:visited {
    text-decoration: none;
}

.no-cssall .list-works__link {
    display: none;
}

.list-clients__top {
    margin-bottom: 15px;
}

.list-clients__list {
    margin: 0;
    margin-right: -10px;
    margin-left: -10px;
    padding: 0;
    list-style: none;
}

.list-clients__list:before,
.list-clients__list:after {
    display: table;
    content: "";
}

.list-clients__list:after {
    clear: both;
}

.list-clients__item {
    display: inline-block;
    float: left;
    width: 20%;
    height: 75px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.list-clients__item img {
    max-width: 100%;
    max-height: 100%;
}

.list-clients__bottom {
    display: none;
    margin-top: 10px;
    text-align: center;
}

.list-address {
    font-size: 11px;
    font-style: normal;
}

.list-address__title {
    margin-bottom: 10px;
    font-size: 12px;
}

.list-address__copyright {
    margin-right: 4px;
}

.list-address__list {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    list-style: none;
}

.list-address__item {
    margin-bottom: 4px;
    letter-spacing: -0.02em;
}

.list-blogs {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
}

.list-blogs__item {
    margin-bottom: 30px;
}

.list-blogs__header {
    margin-bottom: 12px;
    color: #888888;
}

.list-blogs__title {
    margin: 0;
    margin-bottom: 3px;
    font-size: 40px;
}

.list-blogs__title a,
.list-blogs__title a:hover,
.list-blogs__title a:active,
.list-blogs__title a:visited {
    text-decoration: none;
    color: #000000;
}

.list-blogs__title a:hover {
    text-decoration: underline;
}

.list-blogs__info {
    font-size: 10px;
}

.list-blogs__content {
    margin-bottom: 12px;
    font-size: 14px;
}

.list-blogs__comments {
    color: #888888;
    font-size: 11px;
}

.info-small {
    color: #888888;
    font-size: 10px;
}

.info-small__author,
.info-small__author:hover,
.info-small__author:active,
.info-small__author:visited {
    color: #888888;
}

.faq-layout {
    position: relative;
}

.faq-layout:before,
.faq-layout:after {
    display: table;
    content: "";
}

.faq-layout:after {
    clear: both;
}

.faq-layout__left {
    display: inline-block;
    float: left;
    width: 26%;
}

.faq-layout__right {
    z-index: 8;
    display: inline-block;
    display: block;
    float: right;
    width: 72%;
    margin-top: 24px;
}

.faq-layout__right_hidden {
    display: none;
}

.faq-layout__cloud {
    position: relative;
    width: 68.5%;
    padding: 0px 12px 12px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    background-color: #ffffff;
}

.cssall .faq-layout__cloud:before {
    position: absolute;
    z-index: 3;
    top: 24px;
    right: -16px;
    display: block;
    width: 16px;
    height: 12px;
    content: "";
    background: transparent url("../img/cloud-edge-right.png") 0 0 no-repeat;
}

.faq-layout__text {
    margin-bottom: 8px;
    letter-spacing: -0.02em;
    font-size: 11px;
    line-height: 1.63;
}

.faq-layout__text p {
    margin: 10px 0;
}

.faq-layout__button {
    margin-top: 15px;
    padding: 0 15px;
}

.faq-layout__cartoon {
    position: absolute;
    z-index: 6;
    top: 0;
    right: -10px;
    height: 100%;
    text-align: right;
}

.faq-layout__cartoon img {
    max-height: 100%;
}

.faq-list__title {
    margin: 0;
    margin-bottom: 11px;
    font-family: "Georgia";
    font-size: 18px;
    font-weight: normal;
}

.faq-list__title a,
.faq-list__title a:hover,
.faq-list__title a:active,
.faq-list__title a:visited {
    text-decoration: none;
    color: #000000;
}

.faq-list__title a:hover {
    text-decoration: underline;
}

.faq-list__item {
    position: relative;
    margin-bottom: 13px;
    letter-spacing: -0.025em;
}

.faq-list__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.faq-list__link {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease-in-out 0ms;
    -o-transition: transform 200ms ease-in-out 0ms, -o-transform 200ms ease-in-out 0ms;
    transition: -webkit-transform 200ms ease-in-out 0ms;
    transition: transform 200ms ease-in-out 0ms;
    transition: transform 200ms ease-in-out 0ms, -webkit-transform 200ms ease-in-out 0ms, -o-transform 200ms ease-in-out 0ms;
    white-space: nowrap;
    color: #0066bb;
    border-bottom: 1px dashed #0066bb;
}

.faq-list__link:hover {
    border-bottom: 1px dashed transparent;
}

.faq-list__link_active {
    cursor: default;
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    color: #000000;
    border-bottom: 1px dashed transparent;
}

.faq-list__link_active:before {
    position: absolute;
    z-index: -1;
    top: -11%;
    left: -10%;
    display: block;
    width: 120%;
    height: 120%;
    content: "";
    background: transparent url("../img/text-mark.png") 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.faq-list__popup {
    position: absolute;
    z-index: 12;
    top: -29px;
    left: 170px;
    display: none;
    width: 240%;
}

.faq-list__popup_active {
    display: block;
}

.faq-answer {
    position: relative;
    padding: 9px 12px 12px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    background-color: #ffffff;
}

.cssall .faq-answer:before {
    position: absolute;
    z-index: 3;
    top: 34px;
    left: -16px;
    display: block;
    width: 16px;
    height: 12px;
    content: "";
    background: transparent url("../img/cloud-edge-left.png") 0 0 no-repeat;
}

.faq-answer__close {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background: transparent url("../img/close-gray.png") 0 0 no-repeat;
}

.faq-answer__close:hover {
    opacity: 0.8;
}

.faq-answer__text {
    margin-bottom: 14px;
    letter-spacing: -0.02em;
    font-size: 12px;
    line-height: 1.63;
}

.link-dashed,
.link-dashed:hover,
.link-dashed:active,
.link-dashed:visited {
    display: inline;
    text-decoration: none;
    border-bottom: 1px dashed #0066bb;
}

.link-dashed:hover {
    border-bottom: 1px dashed transparent;
}

.text-marked {
    position: relative;
    display: inline-block;
    margin: 10px 0 20px;
}

.text-marked:before {
    position: absolute;
    z-index: 2;
    top: -20%;
    left: -7%;
    display: block;
    width: 110%;
    height: 140%;
    content: "";
    background: transparent url("../img/text-mark.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.text-marked__text {
    position: relative;
    z-index: 3;
}

.feedback__title {
    margin-bottom: 15px;
    font-size: 20px;
}

.feedback__item {
    margin-bottom: 15px;
}

.feedback__item:last-child {
    margin-bottom: 0;
}

.feedback__text {
    margin-bottom: 3px;
}

.feedback__map {
    position: relative;
    width: 100%;
    height: 302px;
}

.feedback__label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
    font-weight: normal;
}

.feedback__error {
    margin-top: 5px;
    color: #ff0000;
    font-size: 10px;
}

.feedback__error-large {
    margin-bottom: 10px;
    color: #ff0000;
    font-size: 15px;
}

.feedback__button {
    width: 200px;
    max-width: 100%;
}

.captcha:before,
.captcha:after {
    display: table;
    content: "";
}

.captcha:after {
    clear: both;
}

.captcha__left {
    display: inline-block;
    float: left;
    width: 33%;
}

.captcha__right {
    display: inline-block;
    float: right;
    width: 66%;
}

.captcha__image img {
    max-width: 100%;
}

.tabs-inline {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

.tabs-inline:before,
.tabs-inline:after {
    display: table;
    content: "";
}

.tabs-inline:after {
    clear: both;
}

.tabs-inline__item {
    display: inline-block;
    float: left;
    margin-right: 18px;
    margin-bottom: 8px;
    vertical-align: bottom;
}

.tabs-inline__link,
.tabs-inline__link:hover,
.tabs-inline__link:active,
.tabs-inline__link:visited {
    display: inline-block;
    text-decoration: none;
    text-decoration: underline;
    color: #000000;
    color: #0066bb;
}

.tabs-inline__link:hover {
    text-decoration: none;
}

span.tabs-inline__link,
span.tabs-inline__link:hover,
span.tabs-inline__link:active,
span.tabs-inline__link:visited {
    cursor: default;
    text-decoration: none;
    color: #000000;
}

.logo {
    position: relative;
    height: 82px;
}

.logo_animated:hover .logo__image {
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
}

.logo__link {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo__image {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 200ms ease-in-out 0ms;
    -o-transition: transform 200ms ease-in-out 0ms, -o-transform 200ms ease-in-out 0ms;
    transition: -webkit-transform 200ms ease-in-out 0ms;
    transition: transform 200ms ease-in-out 0ms;
    transition: transform 200ms ease-in-out 0ms, -webkit-transform 200ms ease-in-out 0ms, -o-transform 200ms ease-in-out 0ms;
}

.logo__image img {
    max-width: 100%;
}

.logo__text {
    position: absolute;
    z-index: 2;
    bottom: 8px;
    left: 0;
    width: 100%;
    padding-left: 30px;
    text-align: left;
    text-decoration: underline;
    color: #0066bb;
    background: transparent url("../img/arrow-left.png") 12px 6px no-repeat;
    font-size: 10px;
}

.block-note {
    position: relative;
    z-index: 4;
    margin: 0 40px;
    padding: 40px 0;
    text-align: center;
    background: #f0f0f0 url("../img/cloth-large.png") 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.block-note__title {
    margin: 0;
    font-family: "DroidSerif", "Verdana";
    font-size: 39px;
    font-weight: normal;
}

.block-note__title a,
.block-note__title a:hover,
.block-note__title a:active,
.block-note__title a:visited {
    -webkit-transition: color 200ms ease-in-out 0ms;
    -o-transition: color 200ms ease-in-out 0ms;
    transition: color 200ms ease-in-out 0ms;
}

.block-note__title a:hover {
    color: #2086db;
}

.social-small {
    font-size: 0;
}

.social-small:before,
.social-small:after {
    display: table;
    content: "";
}

.social-small:after {
    clear: both;
}

.social-small__item,
.social-small__item:hover,
.social-small__item:active,
.social-small__item:visited {
    display: inline-block;
    margin-left: 19px;
    -webkit-transition: opacity 200ms ease-in-out 0ms;
    -o-transition: opacity 200ms ease-in-out 0ms;
    transition: opacity 200ms ease-in-out 0ms;
}

.social-small__item:hover {
    opacity: 0.8;
}

.lang-small__link,
.lang-small__link:hover,
.lang-small__link:active,
.lang-small__link:visited {
    color: #000000;
}

.facebook-block:before,
.facebook-block:after {
    display: table;
    content: "";
}

.facebook-block:after {
    clear: both;
}

.facebook-block__left {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 70%;
    max-width: 380px;
    height: 32px;
}

.facebook-block__right {
    display: inline-block;
    float: right;
    width: 24.5%;
}

.facebook-block__friends {
    margin-top: -105px;
    margin-left: -17px;
}

.facebook-block__button {
    margin-top: 6px;
}

.info-small-titles h1,
.info-small-titles h2,
.info-small-titles h3 {
    margin: 0;
    margin-bottom: 18px;
    font-family: "Verdana";
    font-size: 12px;
}

.block-home__clients {
    padding-right: 40px;
}

.block-home__faq {
    padding-top: 20px;
}

.box-modal {
    -webkit-animation: modalOpen 400ms;
    -o-animation: modalOpen 400ms;
    animation: modalOpen 400ms;
}

ul.bullet {
    list-style: none;
}

ul.bullet li:before {
    content: "— ";
}

.work-full__left {
    margin-bottom: 40px;
}

.work-full__right {
    padding: 0 40px 20px;
}

.work-full__preview,
.work-full__preview:hover,
.work-full__preview:active,
.work-full__preview:visited {
    display: block;
    margin-bottom: 40px;
}

.work-full__preview img {
    width: 100%;
    -webkit-transition: all 200ms ease-in-out 0ms;
    -o-transition: all 200ms ease-in-out 0ms;
    transition: all 200ms ease-in-out 0ms;
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.work-full__preview img:hover {
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
    transform: scale(1.025);
    -webkit-box-shadow: 0 6px 16px 2px rgba(0,0,0,0.2);
    box-shadow: 0 6px 16px 2px rgba(0,0,0,0.2);
}

.work-full__nav {
    margin-bottom: 12px;
}

.work-full__info {
    color: #555555;
    font-size: 11px;
}

.work-full__info p {
    margin: 10px 0;
}

.work-full__info ul {
    list-style: none;
}

.work-full__info ul li:before {
    content: "— ";
}

.prices-list {
    margin: 0;
    margin-top: 40px;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0;
    list-style: none;
}

.prices-list:before,
.prices-list:after {
    display: table;
    content: "";
}

.prices-list:after {
    clear: both;
}

.prices-list__item {
    display: inline-block;
    float: left;
    width: 25%;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.prices-card {
    position: relative;
    height: 430px;
    padding: 10px;
    -webkit-transition: border 200ms ease-in-out 0ms;
    -o-transition: border 200ms ease-in-out 0ms;
    transition: border 200ms ease-in-out 0ms;
    text-align: center;
    border: 2px solid #eeeeee;
    border-radius: 5px;
}

.prices-card:hover {
    border-color: #333333;
}

.prices-card:hover .prices-card__image-hover {
    opacity: 1;
}

.prices-card:hover .prices-card__price {
    opacity: 0;
}

.prices-card:hover .prices-card__button {
    opacity: 1;
}

.prices-card_rec {
    border: 2px solid transparent;
}

.prices-card_rec:hover {
    border: 2px solid #ff0000;
}

.prices-card_rec:hover:before {
    opacity: 0;
}

.prices-card_rec:before {
    position: absolute;
    z-index: 2;
    top: -2%;
    left: 0;
    display: block;
    width: 100%;
    height: 104%;
    content: "";
    -webkit-transition: opacity 200ms ease-in-out 0ms;
    -o-transition: opacity 200ms ease-in-out 0ms;
    transition: opacity 200ms ease-in-out 0ms;
    opacity: 1;
}

.prices-card_rec-ru:before {
    background: transparent url("../img/rec-ru.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.prices-card_rec-en:before {
    background: transparent url("../img/rec-en.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.prices-card * {
    -webkit-transition: opacity 200ms ease-in-out 0ms;
    -o-transition: opacity 200ms ease-in-out 0ms;
    transition: opacity 200ms ease-in-out 0ms;
}

.prices-card__link {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prices-card__images {
    position: relative;
    height: 107px;
    margin-bottom: 7px;
    text-align: center;
}

.prices-card__image-main,
.prices-card__image-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 78px;
    height: 78px;
    margin: auto;
}

.prices-card__image-hover {
    opacity: 0;
}

.prices-card__title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 26px;
}

.prices-card__bottom {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    width: 94%;
    height: 50px;
    margin: auto;
}

.prices-card__price,
.prices-card__button {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 7px 0 6px;
}

.prices-card__price {
    opacity: 1;
}

.prices-card__button {
    padding: 5px 0 8px;
    opacity: 0;
    border: 2px solid #ffec80;
    border-radius: 5px;
    font-size: 24px;
}

.list-scope {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-scope__item {
    margin-bottom: 0;
    padding: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
    font-size: 10px;
}

.list-scope__item:last-child {
    border-bottom: none;
}

.list-scope__text {
    position: relative;
    display: inline-block;
}

.list-scope__text_marked:before {
    position: absolute;
    z-index: -1;
    top: -15%;
    left: -10%;
    display: block;
    width: 120%;
    height: 140%;
    content: "";
    background: transparent url("../img/text-mark.png") 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.pricing-full__content {
    margin-bottom: 20px;
}

.pricing-full__image {
    text-align: center;
}

.pricing-full__image img {
    max-width: 100%;
}

.pricing-full__table {
    margin-bottom: 20px;
}

.pricing-full__more {
    margin-bottom: 20px;
}

.pricing-full__card {
    margin-bottom: 20px;
}

.pricing-full__image-small {
    display: none;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    text-align: center;
}

.pricing-full__image-small img {
    max-width: 60%;
}

.buy-main:before,
.buy-main:after {
    display: table;
    content: "";
}

.buy-main:after {
    clear: both;
}

.buy-main__left {
    display: inline-block;
    float: left;
    width: 40%;
    margin-top: 5px;
}

.buy-main__right {
    display: inline-block;
    float: right;
    width: 40%;
    text-align: right;
}

.link-further,
.link-further:hover,
.link-further:active,
.link-further:visited {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
}

.link-further:hover {
    text-decoration: underline;
}

.link-further__arrow {
    position: absolute;
    top: 0;
    left: 0;
}

.link-further__text {
    display: block;
    padding-left: 23px;
}

.list-rewards {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background: url("../img/glass-shelf-end.png") repeat-y scroll 100% -58px, transparent url("../img/glass-shelf.png") repeat-y scroll 0 -58px;
    font-size: 0;
}

.list-rewards:before,
.list-rewards:after {
    display: table;
    content: "";
}

.list-rewards:after {
    clear: both;
}

.list-rewards__item {
    display: inline-block;
    width: 220px;
    margin: 0 25px 117px;
    padding-top: 20px;
    font-size: 12px;
}

.card-reward {
    position: relative;
    height: 303px;
}

.card-reward__link {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-reward__image {
    position: relative;
    height: 100%;
}

.card-reward__image img {
    width: 100%;
    height: 100%;
}

.card-reward__image:before {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: transparent url("../img/reward-grass.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.card-reward__text {
    position: absolute;
    z-index: 8;
    right: 0;
    bottom: -4px;
    left: 0;
    width: 60%;
    margin: auto;
    padding: 2px 5px;
    text-align: center;
    color: #555555;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    font-size: 9px;
    line-height: 1.2;
}

.principles__section {
    margin: 40px 0;
}

.principles__image {
    text-align: center;
}

.principles__image img {
    max-width: 100%;
}

.principles__title {
    margin: 15px 0;
    font-size: 18px;
}

.blog-full__header {
    margin-bottom: 12px;
    color: #888888;
}

.blog-full__title {
    margin: 0;
    margin-bottom: 2px;
    font-size: 26px;
}

.blog-full__title a,
.blog-full__title a:hover,
.blog-full__title a:active,
.blog-full__title a:visited {
    text-decoration: none;
    color: #000000;
}

.blog-full__title a:hover {
    text-decoration: underline;
}

.blog-full__info {
    font-size: 10px;
}

.blog-full__author,
.blog-full__author:hover,
.blog-full__author:active,
.blog-full__author:visited {
    color: #888888;
}

.comment-form {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px dashed #cccccc;
}

.comment-form__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.comment-form__item {
    margin-bottom: 15px;
}

.comment-form__bottom {
    margin-top: 30px;
}

.feedback__title {
    margin-bottom: 15px;
    font-size: 23px;
}

.feedback__item {
    margin-bottom: 20px;
}

.feedback__text {
    margin-bottom: 5px;
}

.feedback__map {
    margin-bottom: 40px;
}

.feedback__map iframe {
    width: 100%;
    height: 368px;
}

.feedback__label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
    font-weight: normal;
}

.feedback__error {
    margin-top: 5px;
    color: #ff0000;
    font-size: 13px;
}

.feedback__error-large {
    margin: 10px 0;
    color: #ff0000;
    font-size: 15px;
}

.captcha:before,
.captcha:after {
    display: table;
    content: "";
}

.captcha:after {
    clear: both;
}

.captcha__left {
    display: inline-block;
    float: left;
    width: 29%;
    margin-right: 1%;
}

.captcha__right {
    display: inline-block;
    float: left;
    width: 70%;
}

.captcha__image img {
    max-width: 100%;
}

@media only screen and (min-width: 1179px) {
    .header__main {
        width: 46%;
    }

    .facebook-block__right {
        float: left;
        margin-left: 6.3%;
    }
}

@media only screen and (min-width: 1328px) {
    .header__main {
        width: 50%;
    }
}

@media only screen and (min-width: 1428px) {
    .header__more {
        width: 13%;
    }
}

@media only screen and (max-width: 1178px) {
    .layout__wrapper {
        width: 960px;
    }

    .header__wrapper {
        width: 960px;
    }

    .header__logo {
        width: 11%;
        margin-right: 3%;
        border-top: 2px solid #111419;
    }

    .header__more {
        width: 16%;
    }

    .footer__wrapper {
        width: 960px;
    }

    .menu-main__item {
        padding: 0 10px;
    }

    .menu-main__item:last-child {
        padding-left: 0;
    }

    .list-works_compact .list-works__item:nth-child(n+4) {
        display: none;
    }

    .list-works__item {
        width: 33.33%;
    }

    .faq-layout__cloud {
        width: 65%;
    }

    .logo__text {
        padding-left: 25px;
        background-position: 6px 6px;
    }

    .facebook-block__right {
        width: 26.5%;
    }

    .prices-list__item {
        width: 33.333%;
    }
}

@media only screen and (max-width: 960px) {
    .layout {
        margin: 20px 0;
    }

    .layout__wrapper {
        width: 640px;
    }

    .header__wrapper {
        width: 640px;
    }

    .header__logo {
        width: 17%;
        margin-right: 2%;
        border-top-width: 6px;
    }

    .header__main {
        display: block;
        float: none;
        width: 100%;
    }

    .header__more {
        display: none;
    }

    .header__right {
        width: 18%;
    }

    .header__title {
        display: block;
        float: none;
    }

    .header__phone a,
    .header__phone a:hover,
    .header__phone a:active,
    .header__phone a:visited {
        float: none;
    }

    .header__phone_small {
        display: block;
    }

    .header__menu {
        margin-top: 12px;
    }

    .footer {
        height: auto;
        padding-top: 30px;
    }

    .footer__wrapper {
        width: 640px;
    }

    .footer__left {
        margin-bottom: 30px;
    }

    .menu-main__item {
        padding: 0 5px;
    }

    .menu-side__search {
        margin-top: 40px;
    }

    .menu-side__item {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 8px;
    }

    .list-works_compact .list-works__item:nth-child(n+3) {
        display: none;
    }

    .list-works__item {
        width: 50%;
    }

    .list-clients {
        margin-bottom: 50px;
    }

    .list-clients__list_prepared .list-clients__item:nth-child(n+16) {
        display: none;
    }

    .list-clients__item {
        margin-bottom: 10px;
    }

    .list-clients__item img {
        max-width: 90%;
    }

    .list-clients__bottom {
        display: block;
    }

    .faq-layout__left {
        width: 25%;
    }

    .faq-layout__cloud {
        width: 70%;
    }

    .faq-layout__cartoon {
        top: -8px;
        right: 5px;
    }

    .logo_animated:hover .logo__image {
        -webkit-transform: translateY(-43px);
        -ms-transform: translateY(-43px);
        -o-transform: translateY(-43px);
        transform: translateY(-43px);
    }

    .block-note {
        padding: 30px 0;
    }

    .block-note__title {
        font-size: 24px;
    }

    .facebook-block__right {
        width: 32.5%;
    }

    .info-small-titles h1,
    .info-small-titles h2,
    .info-small-titles h3 {
        font-size: 16px;
    }

    .block-home__clients {
        padding-right: 0;
    }

    .block-home__faq {
        padding-top: 20px;
    }

    .work-full__right {
        padding: 0;
    }

    .work-full__nav {
        margin-bottom: 30px;
    }

    .prices-list {
        margin-right: -10px;
        margin-left: -10px;
    }

    .prices-list__item {
        width: 50%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .pricing-full__left {
        margin-bottom: 40px;
    }

    .pricing-full__image {
        display: none;
    }

    .pricing-full__image-small {
        display: block;
    }

    .comment-form {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 640px) {
    .layout__wrapper {
        width: 320px;
    }

    .layout_line {
        display: none;
    }

    .page-title {
        font-size: 25px;
    }

    .header__wrapper {
        width: 320px;
    }

    .header__logo {
        width: 36%;
    }

    .header__right {
        width: 60%;
    }

    .header__top-info {
        display: none;
    }

    .header__menu {
        margin-top: 115px;
        margin-bottom: 20px;
    }

    .footer__wrapper {
        width: 320px;
    }

    .footer__friends {
        margin-bottom: 14px;
    }

    .footer__center {
        display: block;
        float: none;
        width: 100%;
    }

    .footer__right {
        display: block;
        float: none;
        width: 100%;
        margin-top: 20px;
        text-align: left;
    }

    .footer__counter {
        display: inline-block;
        margin-right: 10px;
    }

    .menu-main__item:last-child {
        text-align: center;
    }

    .menu-main__item {
        display: inline-block;
        padding: 0 13px 10px 0;
    }

    .menu-main__item_button {
        display: none;
    }

    .menu-main__link,
    .menu-main__link:hover,
    .menu-main__link:active,
    .menu-main__link:visited {
        font-size: 12px;
    }

    .list-works_compact .list-works__item:nth-child(n+2) {
        display: none;
    }

    .list-works__item {
        float: none;
        width: 100%;
    }

    .list-clients__list_prepared .list-clients__item:nth-child(n+10) {
        display: none;
    }

    .list-clients__item {
        width: 33.33%;
    }

    .list-address__list {
        padding-left: 0;
    }

    .list-blogs__title {
        font-size: 20px;
    }

    .faq-layout__left {
        width: 100%;
    }

    .faq-layout__right {
        display: none;
    }

    .faq-list__popup_active {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        width: 100%;
        margin: 10px 0;
    }

    .cssall .faq-answer:before {
        display: none;
    }

    .feedback__button {
        width: 100%;
    }

    .captcha__left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .captcha__right {
        width: 100%;
    }

    .tabs-inline__item {
        display: block;
        float: none;
        margin-right: 0;
    }

    .tabs-inline__link,
    .tabs-inline__link:hover,
    .tabs-inline__link:active,
    .tabs-inline__link:visited {
        padding: 5px;
    }

    .block-note {
        margin: 0 10px;
    }

    .block-note__title {
        font-size: 22px;
    }

    .facebook-block__left {
        display: block;
        float: none;
        width: 100%;
    }

    .facebook-block__right {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
    }

    .facebook-block__button {
        margin-top: 20px;
        text-align: left;
    }

    .prices-list__item {
        display: block;
        float: none;
        width: 100%;
    }

    .pricing-full__center {
        margin-bottom: 40px;
    }

    .pricing-full__card {
        display: none;
    }

    .pricing-full__image-small {
        display: none;
    }

    .blog-full__title {
        font-size: 20px;
    }

    .captcha__left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .captcha__right {
        width: 100%;
    }
}

@-webkit-keyframes modalOpen {
    0% {
        -webkit-transform: translateY(80px);
        transform: translateY(80px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes modalOpen {
    0% {
        -o-transform: translateY(80px);
        transform: translateY(80px);
    }

    100% {
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes modalOpen {
    0% {
        -webkit-transform: translateY(80px);
        -o-transform: translateY(80px);
        transform: translateY(80px);
    }

    100% {
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
