/*
Формстайлер - здесь очень много переменных
Но если понять суть, то настройка пойдёт очень быстро

В самом низу можно указать второй стиль для инпутов
Чтобы не приходилось постоянно перебивать правила

*/



fs_bg               = #fff url("") 0 0 no-repeat
fs_bxsh             = none
fs_bxsh_focus       = none

fs_font             = $base-font-size $base-font-family
fs_text_color       = $base-text-color

fs_main_color          = #ccc
fs_hover_color         = #aaa
fs_active_color        = blue

fs_bdras            = 3px
fs_bd_width         = 1px
fs_bd_style         = solid

fs_bd_main          = fs_bd_width fs_bd_style fs_main_color
fs_bd_hover         = fs_bd_width fs_bd_style fs_hover_color
fs_bd_focus         = fs_bd_width fs_bd_style fs_active_color


fs_disabled_opacity = 0.5

fs_padding_left = 8px


fs_checkbox_size = 18px
fs_checkbox_margin = 0 4px 0 0
fs_checkbox_dot_margin = 2px
fs_checkbox_dot_size = (fs_checkbox_size - fs_checkbox_dot_margin * 3)
fs_checkbox_dot_bg = #666 url("") 0 0 no-repeat
fs_checkbox_dot_bxsh = none
fs_checkbox_dot_bdras = fs_bdras


fs_radio_size = 18px
fs_radio_margin = 0 4px 0 0
fs_radio_bdras = 50%
fs_radio_dot_margin = 2px
fs_radio_dot_size = 12px
fs_radio_dot_bg = #666 url("") 0 0 no-repeat
fs_radio_dot_bxsh = none
fs_radio_dot_bdras = fs_radio_bdras


fs_input_padding = fs_padding_left
fs_input_width   = 100%
fs_input_height  = 40px


fs_textarea_min_height  = 120px

$fs_search_input_padding = 48px

fs_file_width    = fs_input_width
fs_file_padding  = 0 fs_padding_left


fs_number_height = fs_input_height
fs_number_input_padding = fs_input_padding
fs_number_spin_height = 21px
fs_number_spin_width = 36px

fs_number_spin_color_active = fs_active_color

fs_number_width   = fs_input_width
fs_number_padding = 0 (fs_number_spin_width) 0 0


fs_selectbox_item_text = white
fs_selectbox_item_color_hover = fs_hover_color
fs_selectbox_item_color_active = fs_active_color

fs_selectbox_item_height = auto
fs_selectbox_item_padding = fs_input_padding
fs_selectbox_option_padding_left = 25px


fs_selectbox_height = fs_input_height
fs_selectbox_padding = 0 45px 0 fs_padding_left

fs_selectbox_height_text = (fs_selectbox_height - 3)

fs_selectbox_dropdown_margin = 2px 0 0

fs_multiple_item_padding = fs_input_padding
fs_multiple_item_text = white
fs_multiple_item_active = fs_active_color
fs_multiple_option_left = fs_selectbox_option_padding_left
fs_multiple_min_height = auto



/////////////////////////////////////////////////////
// Если input внутри тега label
label
	display block
	vertical-align bottom
	& .jq-checkbox
		margin-bottom 3px
		vertical-align bottom


/////////////////////////////////////////////////////
// Чекбокс
.jq-checkbox
	vertical-align middle
	width fs_checkbox_size
	height fs_checkbox_size
	margin fs_checkbox_margin
	text-align left
	border fs_bd_main
	border-radius fs_bdras
	background fs_bg
	box-shadow fs_bxsh
	cursor pointer
	&:hover
		border fs_bd_hover
	&.checked
		.jq-checkbox__div
			width fs_checkbox_dot_size
			height fs_checkbox_dot_size
			margin fs_checkbox_dot_margin 0 0 fs_checkbox_dot_margin
			border-radius fs_checkbox_dot_bdras
			background fs_checkbox_dot_bg
			box-shadow fs_checkbox_dot_bxsh
	&.focused
		border fs_bd_focus
	&.disabled
		opacity fs_disabled_opacity









/////////////////////////////////////////////////////
// Радиокнопка
.jq-radio
	vertical-align middle
	width fs_radio_size
	height fs_radio_size
	margin fs_radio_margin
	text-align left
	border fs_bd_main
	border-radius fs_radio_bdras
	background fs_bg
	box-shadow fs_bxsh
	cursor pointer
	&:hover
		border fs_bd_hover
	&.checked
		.jq-radio__div
			width fs_radio_dot_size
			height fs_radio_dot_size
			margin fs_radio_dot_margin 0 0 fs_radio_dot_margin
			border-radius fs_radio_dot_bdras
			background fs_radio_dot_bg
			box-shadow fs_radio_dot_bxsh
	&.focused
		border fs_bd_focus
	&.disabled
		opacity fs_disabled_opacity










input[type='email'].styler
input[type='password'].styler
input[type='search'].styler
input[type='tel'].styler
input[type='text'].styler
input[type='url'].styler
textarea.styler
	box-sizing border-box
	padding fs_input_padding
	width fs_input_width
	height fs_input_height
	border fs_bd_main
	border-radius fs_bdras
	box-shadow fs_bxsh
	font fs_font
	color fs_text_color

	&:hover
		border fs_bd_hover

	&:focus
		border fs_bd_focus
		outline none
		box-shadow fs_bxsh_focus
	+placeholder()
		color #888

	&.error
		border 1px solid red
		+placeholder()
			color red





input[type='search'].styler
	-webkit-appearance none

textarea
	min-height fs_textarea_min_height
	&.styler
		overflow auto

.search-input
	position relative
	&__input.styler[type="text"]
		padding-right $fs_search_input_padding
	&__button[type="submit"]
		position absolute
		top 0
		right 0
		z-index 3
		height 100%
		width auto
		font-size 0
		background transparent 0 0 no-repeat
		background-image url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMSBUaW55Ly9FTicgICdodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS10aW55LmR0ZCc+PHN2ZyBiYXNlUHJvZmlsZT0idGlueSIgaGVpZ2h0PSIzMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGlkPSJHdWlkZXNfX3gyNl9fRm9ybXMiLz48ZyBpZD0iSWNvbnMiPjxwYXRoIGQ9Ik0yNCwyMy41NDNsLTQuMzU2LTQuMzU2YzAuODc1LTEuMTY4LDEuMzk5LTIuNjE0LDEuMzk5LTQuMTg2YzAtMy44NjYtMy4xMzQtNy03LTdzLTcsMy4xMzQtNyw3czMuMTM0LDcsNyw3ICAgYzEuNTcyLDAsMy4wMTgtMC41MjUsNC4xODYtMS4zOTlsNC4zNTYsNC4zNTZMMjQsMjMuNTQzeiBNOS4wNDMsMTVjMC0yLjc1NywyLjI0My01LDUtNWMyLjc1NywwLDUsMi4yNDMsNSw1YzAsMi43NTctMi4yNDMsNS01LDUgICBDMTEuMjg2LDIwLDkuMDQzLDE3Ljc1Nyw5LjA0MywxNXoiLz48L2c+PC9zdmc+')
		background-position center
		background-size 80%
		&:hover
			opacity .7



.jq-file
	box-sizing border-box
	width fs_file_width
	border-radius fs_bdras
	box-shadow fs_bxsh
	position relative
	border fs_bd_main
	&:hover
		border fs_bd_hover
		.jq-file__browse
			border-left fs_bd_hover
	&:active
	&.focused
		border fs_bd_focus
	&:active .jq-file__browse
	&.focused .jq-file__browse
		border-left fs_bd_focus
	input
		height auto
		line-height 1em
		cursor pointer
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		font fs_font
		border-radius fs_bdras

.jq-file__name
	overflow hidden
	box-sizing border-box
	width fs_input_width
	height fs_input_height
	line-height fs_input_height
	padding fs_file_padding
	border 0
	border-radius fs_bdras
	background fs_bg
	box-shadow fs_bxsh
	font fs_font
	color fs_text_color
	white-space nowrap
	text-overflow ellipsis

.jq-file__browse
	position absolute
	top 0
	right 0
	padding fs_file_padding
	border-left fs_bd_main
	height fs_input_height
	line-height fs_input_height
	border-radius 0
	background fs_bg
	box-shadow fs_bxsh
	font fs_font
	color fs_text_color
	text-shadow none

.jq-file.disabled
.jq-file.disabled .jq-file__name
.jq-file.disabled .jq-file__browse
	opacity fs_disabled_opacity



.jq-number
	height fs_number_height
	position relative
	padding fs_number_padding
	width 100%
	display inline-block
	box-sizing border-box
	vertical-align middle
	line-height fs_number_spin_height
	&.focused
		.jq-number__field
			border fs_bd_focus
	&.disabled
		opacity fs_disabled_opacity

.jq-number__field
	height fs_number_height
	width fs_number_width
	border fs_bd_main
	border-radius fs_bdras
	box-shadow fs_bxsh
	&:hover
		border fs_bd_hover
	input
		box-sizing border-box
		height fs_number_height
		width 100%
		padding fs_number_input_padding
		border none
		outline none
		background none
		font fs_font
		color fs_text_color
		text-align left
		-moz-appearance textfield

.jq-number__field input::-webkit-inner-spin-button
.jq-number__field input::-webkit-outer-spin-button
	margin 0
	-webkit-appearance none

.jq-number__spin
	position absolute
	top 0
	right 0
	width fs_number_spin_width
	height fs_number_spin_height
	border fs_bd_main
	border-left none
	border-radius fs_bdras
	background fs_bg
	box-shadow fs_bxsh
	noselect()
	text-shadow none
	cursor pointer
	&.minus
		top auto
		bottom 0
		&:after
			top 7px
			border-top 5px solid fs_main_color
			border-right 5px solid transparent
			border-bottom none
			border-left 5px solid transparent
		&:hover
			&:after
				border-top-color fs_hover_color
		&:active
			&:after
				border-top-color fs_number_spin_color_active
	&:hover
		background fs_bg
	&:active
		background fs_bg
		box-shadow fs_bxsh_focus
	&:after
		content ''
		position absolute
		top 6px
		left 12px
		width 0
		height 0
		border-right 5px solid transparent
		border-bottom 5px solid fs_main_color
		border-left 5px solid transparent
	&.plus
		&:hover
			&:after
				border-bottom-color fs_hover_color
		&:active
			&:after
				border-bottom-color fs_number_spin_color_active

.jq-number.disabled .jq-number__field
.jq-number.disabled .jq-number__spin
	opacity fs_disabled_opacity





// TODO - Плохо используются внутри полосы прокрутки в модалке
// Если ширина выбранного пункта слишко длинная.
.jq-selectbox
	max-width 100%
	&
	&.focused
		vertical-align middle
		cursor pointer
		display inline-block
	&.disabled
		.jq-selectbox__select
			opacity fs_disabled_opacity
		.jq-selectbox__trigger-arrow
			opacity fs_disabled_opacity
	.placeholder
		color fs_text_color
	&:hover
		.jq-selectbox__trigger-arrow
			border-top-color fs_hover_color
	ul
		margin 0
		padding 0
	li
		box-sizing border-box
		height fs_selectbox_item_height
		padding 10px
		font fs_font
		text-transform uppercase
		noselect()
		
		// white-space nowrap
		color fs_text_color
		&.selected
			background-color fs_selectbox_item_color_hover
			color fs_selectbox_item_text
		&:hover
			background-color fs_selectbox_item_color_active
			color fs_selectbox_item_text
		&.disabled
			opacity fs_disabled_opacity
		&.optgroup
			font-weight bold
			&:hover
				background none
				color fs_text_color
				cursor default
		&.option
			padding-left fs_selectbox_option_padding_left


// Стили основной кнопки выпадашки
.jq-selectbox__select
	box-sizing border-box
	line-height fs_selectbox_height
	padding fs_selectbox_padding
	border-radius fs_bdras
	background-color blue
	// border fs_bd_main
	font fs_font
	color #fff
	text-shadow none
	box-shadow fs_bxsh
	// max-width 370px

.jq-selectbox__select-text
	display block
	overflow hidden
	height 100%
	line-height fs_selectbox_height_text
	width 100% !important
	white-space nowrap
	text-overflow ellipsis

.jq-selectbox__trigger
	position absolute
	top 0
	right 0
	width 34px
	height 100%

.jq-selectbox__trigger-arrow
	position absolute
	top 16px
	right 12px
	width 12px
	height 7px
	background transparent 0 0 no-repeat
	background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAASklEQVQY04XLQQ2AQAxFwVrAAp7whAUs1MJaQAsWhgMhWZKy+4/tvMCOjMGw4cQSSM9ygOHC+h7LqMTd8xMNcRG1KS6iOe6i4w/fNMuJ/46U95cAAAAASUVORK5CYII=')


.jq-selectbox *
	transition transform $ttf

.jq-selectbox
	&.opened
		.jq-selectbox__trigger-arrow
			transform rotate(180deg)


.jq-selectbox__dropdown
	box-sizing border-box
	min-width 100%
	margin fs_selectbox_dropdown_margin
	padding 0
	border 1px solid #ddd
	border-radius fs_bdras
	background-color #f0f0f0
	box-shadow fs_bxsh
	font fs_font







.jq-select-multiple
	box-sizing border-box
	padding 1px
	border fs_bd_main
	border-radius fs_bdras
	background fs_bg
	box-shadow fs_bxsh
	width 100%
	font fs_font
	color fs_text_color
	cursor default
	&.focused
		border fs_bd_focus
	&.disabled
		opacity fs_disabled_opacity
	ul
		margin 0
		padding 0
		min-height fs_multiple_min_height
	li
		padding fs_multiple_item_padding
		list-style none
		noselect()
		white-space nowrap
		&.selected
			background fs_multiple_item_active
			color fs_multiple_item_text
		&.disabled
			opacity fs_disabled_opacity
		&.optgroup
			font-weight bold
		&.option
			padding-left fs_multiple_option_left

.jq-select-multiple.disabled li.selected
.jq-select-multiple li.selected.disabled
	opacity fs_disabled_opacity




// Второй стиль
.form-style-2
	input[type='password'].styler
	input[type='text'].styler
		&
		&:hover
		&:focus
			height 34px
			padding 5px 5px 5px 0
			font fs_font
			font-weight 200
			border none
			border-bottom 1px solid #636363
			background-color transparent
		&:focus
			border-bottom 1px solid #222
		+placeholder()
			font fs_font
			font-weight 200
			color #8b8b8b
			opacity 1

	label
		text-transform uppercase
		font-size 16px
		color #444
		font-weight 200
		cursor pointer
