//- Footer
mixin footer(data)
	+b.FOOTER.footer
		+e.wrapper
			.row
				.col_md_6
					+e.left
						+e.top
							+b.title-small
								+e.H2.title Друзья:
						+e.friends
							+b.facebook-block
								+e.left
									+e.friends
										|<div class="fb-like-box fb_iframe_widget" data-href="http://www.facebook.com/WeltkindStudio" data-width="450" data-height="200" data-show-faces="true" data-stream="false" data-header="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;header=false&amp;height=200&amp;href=http%3A%2F%2Fwww.facebook.com%2FWeltkindStudio&amp;locale=ru_RU&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=450"><span style="vertical-align: bottom; width: 450px; height: 154px;"><iframe name="f100164b560ce1a" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" style="border: medium none; visibility: visible; width: 450px; height: 154px;" src="https://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FqXiJsurHCex.js%3Fversion%3D42%23cb%3Dfc0b104f1b1a%26domain%3Dweltkind.com%26origin%3Dhttp%253A%252F%252Fweltkind.com%252Ff28ae8c3c985adc%26relation%3Dparent.parent&amp;container_width=0&amp;header=false&amp;height=200&amp;href=http%3A%2F%2Fwww.facebook.com%2FWeltkindStudio&amp;locale=ru_RU&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=450" class="" width="450px" height="200px" frameborder="0"></iframe></span></div>
								+e.right
									+e.button
										|<div class="fb-like fb_iframe_widget" data-href="http://www.facebook.com/WeltkindStudio" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true" data-font="verdana" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;font=verdana&amp;href=http%3A%2F%2Fwww.facebook.com%2FWeltkindStudio&amp;layout=button_count&amp;locale=ru_RU&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=100"><span style="vertical-align: bottom; width: 123px; height: 20px;"><iframe name="f184d6fef44c96e" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" style="border: medium none; visibility: visible; width: 123px; height: 20px;" src="https://www.facebook.com/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FqXiJsurHCex.js%3Fversion%3D42%23cb%3Dfc1417d3a3df0c%26domain%3Dweltkind.com%26origin%3Dhttp%253A%252F%252Fweltkind.com%252Ff28ae8c3c985adc%26relation%3Dparent.parent&amp;container_width=0&amp;font=verdana&amp;href=http%3A%2F%2Fwww.facebook.com%2FWeltkindStudio&amp;layout=button_count&amp;locale=ru_RU&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=100" class="" width="100px" height="1000px" frameborder="0"></iframe></span></div>
						+e.likes
							+social()

				.col_md_6
					+e.center
						+b.ADDRESS.list-address
							+e.title(itemscope itemtype="http://schema.org/Organization")
								+e.SPAN.copyright &copy;
								|Веб студия
								span(itemprop="name") Weltkind 
								|2005–2017
							+e.UL.list(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
								+e.LI.item Почта:
									a(href="mailto:info@weltkind.com")
										span(itemprop="email") info@weltkind.com
								+e.LI.item Телефон:
									a(href="tel:+996551911466")
										span(itemprop="telephone") +996 551 911 466
								+e.LI.item Скайп:
									a(href="skype:info@weltkind.com") weltkind_
								+e.LI.item Адрес:
									span(itemprop="postalCode") 720000
									|,
									span(itemprop="addressLocality") Кыргызстан, г.Бишкек
									|, ул.
									span(itemprop="streetAddress") Манасчы Сагымбая 152
					+e.right
						+e.counter
							|<a href="//www.liveinternet.ru/click" target="_blank"><img src="//counter.yadro.ru/hit?t18.1;r;s1280*1024*24;uhttp%3A//weltkind.com/;0.9005933558359519" alt="" title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня" width="88" height="31" border="0"></a>
						+e.counter
							|<div>
							|    <a href="https://metrika.yandex.ru/stat/?id=31568893&amp;from=informer" target="_blank" rel="nofollow"><img src="https://mc.yandex.ru/informer/31568893/3_0_202020FF_000000FF_1_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:31568893,lang:'ru'});return false}catch(e){}"></a>
							|    <noscript>&lt;div&gt;&lt;img src="https://mc.yandex.ru/watch/31568893" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>
							|</div>
