.to-page-top
	opacity 0
	transform translateX(50px)
	transition all $ttf

	position fixed
	right 15px
	bottom 15px
	width 40px
	height 40px
	background-color #fff
	border 2px solid #e8e8e8
	z-index 78
	cursor pointer

	&_visible
		opacity 0.4
		transform translateX(0px)
		border 2px solid #000

	&:hover
		opacity 1
		&:before
			transition transform $ttf
			animation toTop 500ms linear infinite

	&:before
		content ""
		display block
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index 15
		background transparent 0 0 no-repeat
		background-size 60%
		background-position center center

		// Белый шеврон
		// background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEkAAAAqAQMAAADF3eRrAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////////VXz1bAAAAAF0Uk5TAEDm2GYAAACvSURBVBgZBcHBScAwAAXQVyrEk3UAIWt4MosJyWh1k4IL5GYPJd/3wCsAHwB8AdAByADYcgLsuQBKJsCRG6DmAWhZAP0vAPnNALb85AT2jFxAiT6BY2k3UB/1AdrtWECfSoBc9gzYctpywp5BLihBn3AstBvqg/pAu3Es6BMlkAt7BltObDnZMyAXJaBPjgXaTX1AfWg3OBZ9ghJygT1DP8EW2gAWFfDNG+CTF8C7fw01Wtq+4kR8AAAAAElFTkSuQmCC')

		// Чёрный шеврон
		background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEkAAAAqAQMAAADF3eRrAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAACvSURBVBgZBcHBScAwAAXQVyrEk3UAIWt4MosJyWh1k4IL5GYPJd/3wCsAHwB8AdAByADYcgLsuQBKJsCRG6DmAWhZAP0vAPnNALb85AT2jFxAiT6BY2k3UB/1AdrtWECfSoBc9gzYctpywp5BLihBn3AstBvqg/pAu3Es6BMlkAt7BltObDnZMyAXJaBPjgXaTX1AfWg3OBZ9ghJygT1DP8EW2gAWFfDNG+CTF8C7fw01Wtq+4kR8AAAAAElFTkSuQmCC')

@keyframes toTop
	0%
		transform translateY(1px)
	100%
		transform translateY(-1px)
