// Paginator

.paginator
	noselect()
	display block
	padding 0
	margin 0
	list-style none
	text-align center
	font-size 0
	&__item
		font-size $base-font-size
		margin 2px
		display inline-block
		vertical-align middle
	&__separator
	&__link
		+link()
			padding 5px
			display inline-block
			margin 0 5px
			text-align center
			text-decoration underline
		&:hover
			text-decoration none
		&_button
			+link()
				margin-bottom 3px
				text-decoration none
	&__link_active
	&__separator
		text-decoration none
		cursor default

