//- Paginator
mixin paginator()
	nav
		+b.UL.paginator
			+e.LI.item
				+e.A(href="#").link_button ←
			+e.LI.item
				+e.A(href='#').link 1
			+e.LI.item
				+e.A(href='#').link 2
			+e.LI.item
				+e.SPAN.link_active 3
			+e.LI.item
				+e.A(href='#').link 4
			+e.LI.item
				+e.A(href='#').link 5
			+e.LI.item
				+e.SPAN.separator ...
			+e.LI.item
				+e.A(href='#').link 10
			+e.LI.item
				+e.A(href="#").link_button →
