//- Информация на главной //////////////////////////////////////////////////////
mixin info-home()
	+b.SECTION.info-small-titles
		main(role="main")
			h2 Добро пожаловать на наш сайт!
			p Наши услуги: разработка креативного индивидуального дизайна, разработка сайтов под "ключ" и программного обеспечения ориентированного под веб, создание сайтов любой сложности, разработка логотипов и фирменного стиля.
			p Так же мы занимаемся сопровождением существующих проектов, оптимизацией и продвижением веб сайтов.
			p Мы поможем Вам сформулировать требования к программному продукту и подготовить Техническое Задание.
			p Мы программируем наши сайты на языках: PHP, Javascript.
			p Используем язык разметки HTML и таблицы стилей CSS. Верстаем с Jade/Pug, Sass, Less, Stylus, Gulp.
			p Мы обожаем фреймворки: Laravel, Zend, Symphony, Kohana, Yii, jQuery.
			p Мы находимся в Кыргызстане (г. Бишкек).



//- Объявление //////////////////////////////////////////////////////
mixin top-ad()
	+b.SECTION.block-note
		+e.H2.title Требуется ОПЫТНЫЙ #[a(href="#") PHP разработчик]



//- Все работы //////////////////////////////////////////////////////
mixin home-works()
	+b.SECTION.list-works_compact
		+e.top
			+b.title-small
				+e.H2.title
					A(href="#") Работы:
				+e.A(href="#").link все работы
		+e.UL.list
			+e.LI.item
				+e.FIGURE.inner
					+e.A(href="#").link
					+e.image
						img(src="upload/works/femme.jpg", alt="img")
					+e.FIGCAPTION.bottom
						+e.A(href="#").name Женский журнал Femme
			+e.LI.item
				+e.FIGURE.inner
					+e.A(href="#").link
					+e.image
						img(src="upload/works/ak-kaz.jpg", alt="img")
					+e.FIGCAPTION.bottom
						+e.A(href="#").name Ак-Каз
			+e.LI.item
				+e.FIGURE.inner
					+e.A(href="#").link
					+e.image
						img(src="upload/works/biznes-uchet.jpg", alt="img")
					+e.FIGCAPTION.bottom
						+e.A(href="#").name Бизнес учет
			+e.LI.item
				+e.FIGURE.inner
					+e.A(href="#").link
					+e.image
						img(src="upload/works/tkani.jpg", alt="img")
					+e.FIGCAPTION.bottom
						+e.A(href="#").name tkani.kg - интернет магазин тканей



//- Наши клиенты //////////////////////////////////////////////////////
mixin list-clients()
	+b.SECTION.list-clients
		+e.top
			+b.title-small
				+e.H2.title
					A(href="#") Клиенты:
		+e.UL.list_prepared
			- for (var i = 1; i <= 33; i++)
				+e.LI.item
					img(src="upload/clients/#{i}.png" alt="img")
		+e.bottom
			+e.A(href="#").more.link-dashed Показать ещё



//- FAQ на главной //////////////////////////////////////////////////////
mixin faq-home()
	+b.SECTION.faq-layout
		+e.left
			+b.faq-list
				+e.H2.title
					a(href="#") FAQ:
				+e.UL.list
					+e.LI.item
						+e.SPAN.link Сколько сто́ит сайт?
						+e.popup
							+b.faq-answer
								+e.close
								+e.text Стоимость сайта определяется, прежде всего, трудоемкостью его разработки и напрямую связана с количеством времени, которое мы затратим на его изготовление.
								+e.A(href="#").link Далее...
					+e.LI.item
						+e.SPAN.link Почему так дорого?
						+e.popup
							+b.faq-answer
								+e.close
								+e.text Если наши расценки показались Вам слишком дорогими, можем Вас успокоить – наши цены являются самыми низкими в КР на услуги подобного качества. Мы постоянно мониторим рынок веб-разработок и при необходимости делаем соответствующие корректировки, чтобы наши цены оставались конкурентоспособными по сравнению с другими компания такого же уровня качества.
								+e.A(href="#").link Далее...
					+e.LI.item
						+e.SPAN.link Какие сроки?
						+e.popup
							+b.faq-answer
								+e.close
								+e.text Сроки разработки также напрямую зависят от специфики разрабатываемого проекта. Разработка сайта в минимальной комплектации, как правило, составляет не менее 3-х недель. Сюда входит разработка схемы юзабилити, дизайна, верстка и интеграция с CMS.
								+e.A(href="#").link Далее...
					+e.LI.item
						+e.SPAN.link Что такое CMS?
						+e.popup
							+b.faq-answer
								+e.close
								+e.text CMS (англ. Content management system) - Система управления содержимым сайта.
								+e.A(href="#").link Далее...
					+e.LI.item
						+e.SPAN.link На каких CMS Вы работаете?
						+e.popup
							+b.faq-answer
								+e.close
								+e.text Все наши проекты «под ключ», мы разрабатываем исключительно на собственных CMS, чтобы иметь возможность гарантировать качество и отказоустойчивость каждого компонента системы.
								+e.A(href="#").link Далее...
					+e.LI.item
						+e.SPAN.link Какая гарантия на Ваши продукты?
						+e.popup
							+b.faq-answer
								+e.close
								+e.text На все наши продукты, выполненные «под ключ» дается пожизненная гарантия. Ознакомьтесь, пожалуйста, с условиями гарантии.
								+e.A(href="#").link Далее...
					+e.LI.item
						a(href="#") И т.д.
		+e.right
			+e.cloud
				+e.text Это стандартный текст, который исчезнет, как только пользователь выберет вопрос.
				+e.button
					+b.A(href="#").button_dark._block.call-feedback Заказать сайт
			+e.cartoon
				img(src="#", alt=" ").random-cartoon






//- Модалки //////////////////////////////////////////////////////
mixin modal-feedback()
	+b.SECTION.box-modal#modal_feedback
		+e.fx
			+e.top
				+e.H2.title Напишите нам:
				+e.close.arcticmodal-close
			+e.content
				+b.feedback
					form(action="#" method="post")
						+e.error-large Ошибка при отправке формы
						+e.item
							+e.LABEL.label Ваше имя *
							input(type="text" required="" placeholder="Имя")
						+e.item
							+e.LABEL.label Ваш e-mail *
							input(type="text" required="" placeholder="E-mail").error
							+e.error Неверный E-mail
						+e.item
							+e.LABEL.label Текст сообщения *
							textarea(type="text" required="" placeholder="Текст сообщения")
						+e.item
							+e.LABEL.label Введите защитный код *
							+b.captcha
								+e.left
									+e.image
										img(src="img/captcha-demo.png", alt="captcha" width="120px" height="40px")
								+e.right
									input(type="text" required="" placeholder="Введите надпись на картинке")
						+e.item
							+e.button
								+b.INPUT(type="submit" value="Отправить").button_light._block




