/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */


$jsp_size            = 14px

$jsp_track           = #fff
$jsp_drag            = #ccc
$jsp_arrow           = #ccc
$jsp_arrow_passive   = #aaa




.scroll-pane
	overflow auto
	outline none

.jspContainer
	overflow hidden
	position relative

.jspPane
	position absolute

.jspVerticalBar
	position absolute
	top 0
	right 0
	width $jsp_size
	height 100%
	background red
	border-left 1px solid #ddd
	.jspArrow
		height $jsp_size
		&:focus
			outline none

.jspHorizontalBar
	position absolute
	bottom 0
	left 0
	width 100%
	height $jsp_size
	background red
	.jspCap
		float left
	.jspArrow
		width $jsp_size
		float left
		height 100%

.jspCap
	display none

.jspTrack
	background $jsp_track
	position relative

.jspDrag
	background $jsp_drag
	position relative
	top 0
	left 0
	cursor pointer

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
	float left
	height 100%

.jspArrow
	background $jsp_arrow
	text-indent -20000px
	display block
	cursor pointer
	padding 0
	margin 0
	&.jspDisabled
		cursor default
		background $jsp_arrow_passive

.jspCorner
	background #eeeef4
	float left
	height 100%

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
*
	html
		.jspCorner
			margin 0 -3px 0 0
