//- Breadcrumbs
mixin breadcrumbs(data)
	nav
		+b.UL.breadcrumbs
			+e.LI.item
				+e.A(href="#").link Главная
				+e.separator
			+e.LI.item
				+e.A(href="#").link Ещё страница
				+e.separator
			+e.LI.item
				+e.SPAN Активная

