mixin simple()

	h1.page-title Заголовок страницы

	section
		p Он вынул из воды весла и достал из-под носового настила леску. На конце ее был прикручен проволокой небольшой крючок, на который он насадил одну из сардинок. Старик опустил леску в воду и привязал ее к кольцу, ввинченному в корму. Потом он насадил наживку на другую леску и оставил ее смотанной в тени под настилом. Взяв в руки весла, он снова стал наблюдать за длиннокрылой черной птицей, которая охотилась теперь низко над водой. Солнце едва приметно поднялось из моря, и старику стали видны другие лодки; они низко сидели в воде по всей ширине течения, но гораздо ближе к берегу. Потом солнечный свет стал ярче и вода отразила его сияние, а когда солнце совсем поднялось над горизонтом, гладкая поверхность моря стала отбрасывать его лучи прямо в глаза, причиняя резкую боль, и старик греб, стараясь не глядеть на воду. Он смотрел в темную глубь моря, куда уходили его лески. У него они всегда уходили в воду прямее, чем у других рыбаков, и рыбу на разных глубинах ожидала в темноте приманка на том самом месте, которое он для нее определил. Другие рыбаки позволяли своим снастям плыть по течению, и порою они оказывались на глубине в шестьдесят саженей, когда рыбаки считали, что опустили их на сто.
		p Перед тем как поймать рыбу, он плотно натянул соломенную шляпу на лоб, и теперь она больно резала ему кожу. Старику хотелось пить, и, осторожно став на колени, так, чтобы не дернуть бечеву, он подполз как можно ближе к носу и одной рукой достал бутылку. Откупорив ее, он отпил несколько глотков. Потом отдохнул, привалившись к носу. Он отдыхал, сидя на мачте со скатанным парусом, стараясь не думать, а только беречь силы.

		h1 Заголовок H1
		p Солнце едва приметно поднялось из моря, и старику стали видны другие лодки; они низко сидели в воде по всей ширине течения, но гораздо ближе к берегу. Потом солнечный свет стал ярче и вода отразила его сияние, а когда солнце совсем поднялось над горизонтом, гладкая поверхность моря стала отбрасывать его лучи прямо в глаза, причиняя резкую боль, и старик греб, стараясь не глядеть на воду. Он смотрел в темную глубь моря, куда уходили его лески. У него они всегда уходили в воду прямее, чем у других рыбаков, и рыбу на разных глубинах ожидала в темноте приманка на том самом месте, которое он для нее определил. Другие рыбаки позволяли своим снастям плыть по течению, и порою они оказывались на глубине в шестьдесят саженей, когда рыбаки считали, что опустили их на сто.
		p Он вынул из воды весла и достал из-под носового настила леску. На конце ее был прикручен проволокой небольшой крючок, на который он насадил одну из сардинок. Старик опустил леску в воду и привязал ее к кольцу, ввинченному в корму. Потом он насадил наживку на другую леску и оставил ее смотанной в тени под настилом. Взяв в руки весла, он снова стал наблюдать за длиннокрылой черной птицей, которая охотилась теперь низко над водой.
		p Птица посмотрела на него в ответ. Она слишком устала, чтобы проверить, достаточно ли прочна бечева, и лишь покачивалась, обхватив ее своими нежными лапками.

		h2 Заголовок H2
		p Старик уже не мог припомнить, когда он впервые стал разговаривать сам с собою вслух. Прежде, оставшись один, он пел; он пел иногда и ночью, стоя на вахте, когда ходил на больших парусниках или охотился за черепахами. Наверно, он стал разговаривать вслух, когда от него ушел мальчик и он остался совсем один. Теперь он уже не помнил. Но ведь и рыбача с мальчиком, они разговаривали только тогда, когда это было необходимо. Разговаривали ночью или во время вынужденного безделья в непогоду. В море не принято разговаривать без особой нужды. Старик сам считал, что это дурно, и уважал обычай. А вот теперь он по многу раз повторял свои мысли вслух — ведь они никому не могли быть в тягость.
		p Он попытался натянуть бечеву потуже, но с тех пор, как он поймал рыбу, леса и так была натянута до отказа, и когда он откинулся назад, чтобы натянуть ее еще крепче, она больно врезалась в спину, и он понял, что у него ничего не выйдет. «А дергать нельзя, — подумал он. — Каждый рывок расширяет рану, которую нанес ей крючок, и если рыба вынырнет, крючок может вырваться совсем. Во всяком случае, я чувствую себя лучше теперь, когда светит солнце, и на этот раз мне не надо на него смотреть».

		h3 Заголовок H3
		p Он попытался натянуть бечеву потуже, но с тех пор, как он поймал рыбу, леса и так была натянута до отказа, и когда он откинулся назад, чтобы натянуть ее еще крепче, она больно врезалась в спину, и он понял, что у него ничего не выйдет. «А дергать нельзя, — подумал он. — Каждый рывок расширяет рану, которую нанес ей крючок, и если рыба вынырнет, крючок может вырваться совсем. Во всяком случае, я чувствую себя лучше теперь, когда светит солнце, и на этот раз мне не надо на него смотреть».
		p Птица посмотрела на него в ответ. Она слишком устала, чтобы проверить, достаточно ли прочна бечева, и лишь покачивалась, обхватив ее своими нежными лапками.

		h4 Заголовок H4
		p Разок он встал, чтобы помочиться через борт лодки, поглядеть на звезды и определить, куда идет лодка. Бечева казалась тоненьким лучиком, уходящим от его плеча прямо в воду. Теперь они двигались медленнее, и огни Гаваны потускнели, — по-видимому, течение уносило их на восток. «Раз огни Гаваны исчезают — значит, мы идем все больше на восток, — подумал старик. — Если бы рыба не изменила своего курса, я их видел бы еще много часов. Интересно, чем окончились сегодня матчи? Хорошо бы иметь на лодке радио!» Но он прервал свои мысли: «Не отвлекайся! Думай о том, что ты делаешь. Думай, чтобы не совершить какую-нибудь глупость».
		p Старик уже не мог припомнить, когда он впервые стал разговаривать сам с собою вслух. Прежде, оставшись один, он пел; он пел иногда и ночью, стоя на вахте, когда ходил на больших парусниках или охотился за черепахами. Наверно, он стал разговаривать вслух, когда от него ушел мальчик и он остался совсем один. Теперь он уже не помнил. Но ведь и рыбача с мальчиком, они разговаривали только тогда, когда это было необходимо. Разговаривали ночью или во время вынужденного безделья в непогоду. В море не принято разговаривать без особой нужды. Старик сам считал, что это дурно, и уважал обычай. А вот теперь он по многу раз повторял свои мысли вслух — ведь они никому не могли быть в тягость.

		h5 Заголовок H5
		p Солнце едва приметно поднялось из моря, и старику стали видны другие лодки; они низко сидели в воде по всей ширине течения, но гораздо ближе к берегу. Потом солнечный свет стал ярче и вода отразила его сияние, а когда солнце совсем поднялось над горизонтом, гладкая поверхность моря стала отбрасывать его лучи прямо в глаза, причиняя резкую боль, и старик греб, стараясь не глядеть на воду. Он смотрел в темную глубь моря, куда уходили его лески. У него они всегда уходили в воду прямее, чем у других рыбаков, и рыбу на разных глубинах ожидала в темноте приманка на том самом месте, которое он для нее определил. Другие рыбаки позволяли своим снастям плыть по течению, и порою они оказывались на глубине в шестьдесят саженей, когда рыбаки считали, что опустили их на сто.
		p Потом он поглядел назад и обнаружил, что земли уже не видно. «Невелика беда, — подумал он. — Я всегда смогу вернуться, правя на огни Гаваны. До захода солнца осталось два часа, может быть, она еще выплывет за это время. Если нет, то она, может быть, выплывет при свете луны. А то, может быть, на рассвете. Руки у меня не сводит, и я полон сил. Проглотила ведь крючок она, а не я. Но что же это за рыба, если она так тянет! Видно, она крепко прикусила проволоку. Хотелось бы мне на нее поглядеть хоть одним глазком, тогда бы я знал, с кем имею дело».

		h6 Заголовок H6
		p Перед тем как поймать рыбу, он плотно натянул соломенную шляпу на лоб, и теперь она больно резала ему кожу. Старику хотелось пить, и, осторожно став на колени, так, чтобы не дернуть бечеву, он подполз как можно ближе к носу и одной рукой достал бутылку. Откупорив ее, он отпил несколько глотков. Потом отдохнул, привалившись к носу. Он отдыхал, сидя на мачте со скатанным парусом, стараясь не думать, а только беречь силы.
		p Он попытался натянуть бечеву потуже, но с тех пор, как он поймал рыбу, леса и так была натянута до отказа, и когда он откинулся назад, чтобы натянуть ее еще крепче, она больно врезалась в спину, и он понял, что у него ничего не выйдет. «А дергать нельзя, — подумал он. — Каждый рывок расширяет рану, которую нанес ей крючок, и если рыба вынырнет, крючок может вырваться совсем. Во всяком случае, я чувствую себя лучше теперь, когда светит солнце, и на этот раз мне не надо на него смотреть».

		h1 H1 Даже если дать корове какао, не выдоишь шоколада.
		h2 H2 Петух воспевает даже то утро когда его положат в суп.
		h3 H3 Говорят, у потерявшего зубы только свободнее язык.
		h4 H4 Бессонница - болезнь эпох, в которых людям велят закрывать глаза на многие вещи.
		h5 H5 Ну допустим, пробьешь ты головой стену. И что ты будешь делать в соседней камере? 
		h6 H6 Собака в столице лает центральнее.

	section
		ul
			li Элемент списка
			li Ещё элемент
			li Не писал тебе я писем
			li но не выдержал пишу
			li От тебя я стал зависим
			li и свободы не прошу
				ul
					li Ничто не сходит с рук
					li ни самый малый крюк
					li с дарованной дороги
					li ни бремя пустяков
					li ни дружба тех волков
					li которые двуноги
						ul
							li Всех тех кто жил как он другим наградой
							li от горестей земных земных отрад
							li не отгородишь никакой оградой
							li На свете нет еще таких оград
			li но не выдержал пишу
			li От тебя я стал зависим
			li и свободы не прошу

	section
		table.table
			thead
				tr
					th Имя
					th Должность
					th Оклад
					th Статус
			tfoot
				tr
					td Все на месте
					td Подвал таблицы
					td 150000
					td Работает
			tbody
				tr
					td Василий
					td Директор
					td 20 000
					td В дороге
				tr
					td Фросья
					td Мат. учёт
					td 5000³
					td Работает
				tr
					td Алексей
					td Охранник
					td 14 000
					td Работает
				tr
					td Сергей
					td Программист
					td 10 000
					td Работает
				tr
					td Олег
					td Уборщик
					td 1 000
					td Уволен в запас
				tr
					td Suspendisse
					td 1829-9774-6660
					td 18.26
					td 18.26
				tr
					td Condimentum 
					td 6687-2111-5557
					td 3.141592653 589793238462
					td +V

	section
		blockquote
			p Главная проблема цитат в интернете в том, что люди сразу верят в их подлинность.
			footer
				cite В. И. Ленин

		dl
			dt Термин
			dd Описание
			dt Огонь
			dd Интенсивный процесс окисления, сопровождающийся излучением в видимом диапазоне и выделением тепловой энергии. Огонь является основной фазой процесса горения и имеет свойство к самораспространению по затронутым им другим горючим материалам. Хотя среди процессов горения химических веществ бывают и исключения, когда вещество сгорает без пламени.
			dt Вода
			dd Бинарное неорганическое соединение с химической формулой Н2O. Молекула воды состоит из двух атомов водорода и одного — кислорода, которые соединены между собой ковалентной связью.

		p Язык
			abbr(title="HyperText Markup Language") HTML 
			| имеет множество текстовых тегов, таких как:
			em em 
			| , 
			strong strong 
			| - для семантики, а
			i i 
			| и
			b b 
			| - для обычного форматирования,
			abbr abbr 
			| для аббревиатур. Пример кода: 
			code "Hello World!"
			| , 
			del del 
			| , 
			ins ins 
			| чтобы было видно, что добавлено а что удалено, 
			dfn dfn 
			| для определений, 
			mark mark 
			| для подсветки текста
			sup sup 
			| для надстрочного текста
			sub sub 
			| для подстрочного.
			a(href="#") И текст со ссылкой.
