include ../modules/_active/_active

- var pageTitle = "Блоги - список"

doctype html
html(class="no-js" lang=config.lang)

	head
		title= pageTitle + " — " + config.projectName
		+head()

	+page()
		+inject('header')
			+header-inner()


		+inject('main')

			+b.layout
				+e.wrapper
					+breadcrumbs()
					h1.page-title Список блогов
					+b.UL.list-blogs
						+e.LI.item
							article
								+e.HEADER.header
									+e.H2.title
										a(href="#") Итоги конкурса февраль 2017
									+e.info
										+b.info-small
											+e.TIME(datetime="2017-02-24").time 24.02.2017
											+e.SPAN.separator —
											+e.A(href="#").author Анатолий Лелёвкин
								+e.content В нашу студию все чаще обращаются желающие открыть Интернет-магазин. Вполне закономерно, электронная коммерция в Кыргызстане начинает развиваться и предприимчивые люди ищут свою нишу на рынке. В этой статье мы рассмотрим основные факторы успеха Интернет-магазина и дадим пару советов начинающим.
								+e.FOOTER.bottom
									+e.comments Нет комментариев
						+e.LI.item
							article
								+e.HEADER.header
									+e.H2.title
										a(href="#") Создание эксклюзивных сайтов. Как защититься от плагиата? – Часть 2
									+e.info
										+b.info-small
											+e.TIME(datetime="2017-01-24").time 24.01.2017
											+e.SPAN.separator —
											+e.A(href="#").author Анатолий Лелёвкин
								+e.content Компания Weltkind благодарит всех принявших участие в конкурсе на позицию начинающего девелопера. Результаты прошедших собеседований представлены в таблице, ниже.
								+e.FOOTER.bottom
									+e.comments
									a(href="#") Комментарии: 1
						+e.LI.item
							article
								+e.HEADER.header
									+e.H2.title
										a(href="#") Разработка Интернет магазинов. Советы начинающим.
									+e.info
										+b.info-small
											+e.TIME(datetime="2017-01-24").time 24.01.2017
											+e.SPAN.separator —
											+e.A(href="#").author Алима
								+e.content В нашу студию все чаще обращаются желающие открыть Интернет-магазин. Вполне закономерно, электронная коммерция в Кыргызстане начинает развиваться и предприимчивые люди ищут свою нишу на рынке. В этой статье мы рассмотрим основные факторы успеха Интернет-магазина и дадим пару советов начинающим.
								+e.FOOTER.bottom
									+e.comments
										a(href="#") Комментарии: 1
						+e.LI.item
							article
								+e.HEADER.header
									+e.H2.title
										a(href="#") Итоги конкурса февраль 2017
									+e.info
										+b.info-small
											+e.TIME(datetime="2017-02-24").time 24.02.2017
											+e.SPAN.separator —
											+e.A(href="#").author Анатолий Лелёвкин
								+e.content В нашу студию все чаще обращаются желающие открыть Интернет-магазин. Вполне закономерно, электронная коммерция в Кыргызстане начинает развиваться и предприимчивые люди ищут свою нишу на рынке. В этой статье мы рассмотрим основные факторы успеха Интернет-магазина и дадим пару советов начинающим.
								+e.FOOTER.bottom
									+e.comments Нет комментариев
						+e.LI.item
							article
								+e.HEADER.header
									+e.H2.title
										a(href="#") Создание эксклюзивных сайтов. Как защититься от плагиата? – Часть 2
									+e.info
										+b.info-small
											+e.TIME(datetime="2017-01-24").time 24.01.2017
											+e.SPAN.separator —
											+e.A(href="#").author Анатолий Лелёвкин
								+e.content Компания Weltkind благодарит всех принявших участие в конкурсе на позицию начинающего девелопера. Результаты прошедших собеседований представлены в таблице, ниже.
								+e.FOOTER.bottom
									+e.comments
									a(href="#") Комментарии: 1
						+e.LI.item
							article
								+e.HEADER.header
									+e.H2.title
										a(href="#") Разработка Интернет магазинов. Советы начинающим.
									+e.info
										+b.info-small
											+e.TIME(datetime="2017-01-24").time 24.01.2017
											+e.SPAN.separator —
											+e.A(href="#").author Алима
								+e.content В нашу студию все чаще обращаются желающие открыть Интернет-магазин. Вполне закономерно, электронная коммерция в Кыргызстане начинает развиваться и предприимчивые люди ищут свою нишу на рынке. В этой статье мы рассмотрим основные факторы успеха Интернет-магазина и дадим пару советов начинающим.
								+e.FOOTER.bottom
									+e.comments
										a(href="#") Комментарии: 1
					+paginator()

			+modal()
				+modal-feedback()




		+inject('footer')
			+footer()
