include ../modules/_active/_active

- var pageTitle = "Блоги - полный"

doctype html
html(class="no-js" lang=config.lang)

	head
		title= pageTitle + " — " + config.projectName
		+head()

	+page()
		+inject('header')
			+header-inner()


		+inject('main')

			+b.layout
				+e.wrapper
					+breadcrumbs()
					h1.page-title.page-title_small-margin Создание эксклюзивных сайтов. Как защититься от плагиата? – Часть 2
					main(role="main")
						+b.ARTICLE.blog-full
							+e.HEADER.header
								+b.info-small
									+e.TIME(datetime="2017-01-24").time 24.01.2017
									+e.SPAN.separator —
									+e.A(href="#").author Алима
							+e.content
								p Даже в случае с опытными разработчиками нет гарантии, что они не поддадутся искушению легкими деньгами и не воспользуются готовыми шаблонами, вместо #[strong разработки эксклюзивного сайта]. Конечно, настоящий профессионал вряд ли рискнет своей репутацией ради разовой сиюминутной выгоды. Но и работать по ставкам ниже рыночных он тоже не будет.
								p #[u Вывод:] #[span.text-red изучите ценовые предложения на рынке]. Если вам обещают заманчиво низкие цены, просто помните, что никто не работает себе в убыток. Например, вам обещают #[b создание эксклюзивного сайта за 100$ ]. Это вовсе не значит, что вам попались подрядчики-альтруисты и в него будет вложено трудозатрат на все 500$. Бывает, что новички даже обещают сделать сайт бесплатно, чтобы «набить руку». Прежде чем начать тратить свое время на такие предложения, подумайте, стали бы вы стричься бесплатно у ученика парикмахера?
								p Если же для вас в приоритете #[b эксклюзивный дизайн сайта], функциональное удобство и безотказная работа всей системы, тогда лучше выбирать исполнителя, ориентируясь не на самые низкие цены, а на качество и опыт работы. Если вы не хотите когда-нибудь обнаружить, что дизайн вашего сайта подозрительно напоминает бесплатный шаблон или, еще хуже, уже существующий сайт конкурента, тогда стоит также потратить время на правильную постановку задачи. Без четко сформулированного задания вы рискуете получить «кота в мешке».
								p #[u Вывод:] #[span.text-red примите личное участие в разработке технического задания]. Чтобы сайт обладал не только уникальным дизайном, но и соответствовал всем вашим запросам, максимально подробно опишите дизайнеру ваше видение сайта: какие разделы должны быть в нем, куда важно направить внимание пользователей и каких действий вы от них ожидаете. Не лишним будет также указать желаемую цветовую гамму, предпочтительную стилистику сайта. Если у компании есть брендбук или руководство по фирменному стилю, обязательно приложите их.
								p Веб студия Weltkind’s WebWorks принципиально не работает с готовыми шаблонами и бесплатными системами управления сайтами. Будучи профессионалами, мы ценим и свое, и ваше время &ndash; потому мы беремся за #[strong создание эксклюзивных сайтов] любой сложности и предоставляем #[a(href="#") долгосрочные гарантии] на свою работу
								p
									a(href="#") Назад

					+b.comment-form
						.row
							.col_md_5
								+e.H2.title Оставьте комментарий:
								+e.item
									INPUT(type="text" required placeholder="Ваше имя")
								+e.item
									INPUT(type="text" required placeholder="Ваш e-mail")
								+e.item
									textarea(placeholder="Текст сообщения")
								+e.bottom
									+b.INPUT(type="submit" value="Отправить").button_dark._lg


			+modal()
				+modal-feedback()




		+inject('footer')
			+footer()
