include ../modules/_active/_active

- var pageTitle = "Главная"

doctype html
html(class="no-js" lang=config.lang)

	head
		title= pageTitle + " — " + config.projectName
		+head()

	+page()
		+inject('header')
			+header()


		+inject('main')

			+b.layout_line
				+e.wrapper
					+top-ad()

			+b.layout
				+e.wrapper_full-md
					+home-works()

			+b.layout
				+e.wrapper
					+b.block-home
						.row

							.col_md_5
								+e.clients
									+list-clients()

							.col_md_6.col_r
								+e.info
									+info-home()

							.col_md_6.col_r
								+e.faq
									+faq-home()








			+modal()
				+modal-feedback()


		+inject('footer')
			+footer()
