include ../modules/_active/_active

- var pageTitle = "Портфолио - полная"

doctype html
html(class="no-js" lang=config.lang)

	head
		title= pageTitle + " — " + config.projectName
		+head()

	+page()
		+inject('header')
			+header-inner()


		+inject('main')

			+b.layout
				+e.wrapper
					+breadcrumbs()
					h1.page-title Государственная Ипотечная Компания
					+b.SECTION.work-full
						.row
							.col_md_6
								+e.left
									+e.A(href="upload/portfolio/1.png").preview
											img(src="upload/portfolio/1.png", alt="img")
							.col_md_6
								+e.right
									+e.nav
										+b.tabs-inline
											+e.item
												+e.A(href="#").link Все работы
											+e.item
												+e.A(href="#").link Следующая работа »
									+e.info
										p
											b Наш вклад: 
											|Сайт под ключ
										p
											b Технологии: 
											|Ajax, ZendFramework, CMS Zendy, PHP, JavaScript, JQuery
										p
											b Дата разработки: 
											|Июнь 2016
										p http://gik.kg/
										p Вот и разработан сайт под "ключ" для Государственной Ипотечной Компании. Получился достаточно симпатичный и удобный сайт со следующим функционалом:
										ul.lines
											li Слайдер на главной странице
											li Модуль "Заёмщикам"
											li Модуль "Межведомственная комиссия"
											li Вопрос - ответ
											li Новостной модуль
											li Обратная связь
											li Партнёры
											li Руководство
											li Видеопортал
											li Ипотечный калькулятор



			+modal()
				+modal-feedback()




		+inject('footer')
			+footer()
