include ../modules/_active/_active

- var pageTitle = "Тарифы - полный"

doctype html
html(class="no-js" lang=config.lang)

	head
		title= pageTitle + " — " + config.projectName
		+head()

	+page()
		+inject('header')
			+header-inner()


		+inject('main')

			+b.layout
				+e.wrapper
					+breadcrumbs()
					h1.page-title Заказать сайт "Бизнес"
					+b.pricing-full
						.row
							.col_md_5
								+e.left
									+e.content
										p Мы не просто разработаем для Вас сайт, но и поможем защитить его от взлома. Каждый созданный нами веб-ресурс сопровождается удобной системой управления. При создании учитываются все Ваши пожелания по дизайну, контенту и управлению.
										p За время нашей работы мы создали несколько сотен разнообразных проектов: от интернет-магазинов и банков, до официальных страниц государственных учреждений. Веб-студия Weltkind – компания, которая прочно заняла лидирующую позицию не только на местном рынке, но и за рубежом.
										p Только в нашей компании Ваши креативные задумки будут воплощены в профессиональный качественный и удобный веб-сайт. Вы убедитесь, что получаете европейское качество по честным ценам.
									+e.image
										img(src="img/cartoons/man-with-logo.jpg", alt="img")

							.col_sm_6.col_md_4
								+e.center
									+e.table
										table.table.table_last-center
											thead
												tr
													th(colspan="2") Тарифный план “Бизнес”
											tbody
												tr
													td Индивидуальный дизайн
													td •
												tr
													td CMS (Система управления сайтом)
													td •
												tr
													td Информационные страницы
													td •
												tr
													td Визуальный слайдер
													td •
												tr
													td Лента новостей
													td •
												tr
													td Каталог продукции
													td –
												tr
													td Регистрация пользователей
													td –
												tr
													td Корзина
													td –
												tr
													td Личный кабинет
													td –
												tr
													td Форма обратной связи
													td •
												tr
													td Карта проезда
													td •
												tr
													td 2 языковые версии
													td •
												tr
													td Первичная поисковая оптимизация
													td –
												tr
													td Настройка Yandex-метрики
													td –
												tr
													td Интеграция систем онлайн оплаты
													td –





									+e.bottom
										+b.buy-main
											+e.left
												+b.A(href="#").button_dark._block Заказать
											+e.right от #[b.text-large $999]

							.col_sm_6.col_md_3
								+e.right
									+e.more
										+b.A(href="#").link-further
											+e.arrow →
											+e.text Смотреть тариф
												br
												|"Каталог"
									+e.card
										+b.prices-card
											+e.A(href="#").link
											+e.images
												+e.image-main
													img(src="img/site-types/5.png", alt="img")
												+e.image-hover
													img(src="img/site-types/5_active.png", alt="img")
											+e.H2.title Каталог
											+e.list
												+b.UL.list-scope
													+e.LI.item
														+e.text_marked + Бизнес
													+e.LI.item
														+e.text Каталог продукции
													+e.LI.item
														+e.text Ещё что-то
													+e.LI.item
														+e.text И тут тоже
											+e.bottom
												+e.price от #[b.text-large $1299]
												+e.button Далее


									+e.image-small
										img(src="img/cartoons/man-with-logo.jpg", alt="img")














			+modal()
				+modal-feedback()




		+inject('footer')
			+footer()
