include ../modules/_active/_active

- var pageTitle = "Принципы работы"

doctype html
html(class="no-js" lang=config.lang)

	head
		title= pageTitle + " — " + config.projectName
		+head()

	+page()
		+inject('header')
			+header-inner()


		+inject('main')

			+b.layout
				+e.wrapper
					+breadcrumbs()
					h1.page-title Услуги и цены
					main(role="main")
						+b.principles
							section
								.row
									.col_md_6
										+e.section
											+e.image
												img(src="img/cartoons/design.jpg", alt="img")
									.col_md_6
										+e.section
											+e.H2.title При разработке дизайна:
											ul
												li Каждый клиент заслуживает уникальный, неповторимый дизайн.
												li Сайт должен иметь интуитивно-понятный, эргономичный дизайн, обеспечивать пользователю кратчайший путь для получения нужной ему информации. Мы строго придерживаемся правила «трех кликов» (т.е. до любой информации на сайт пользователь должен добираться не более чем за три щелчка мыши).
												li Особо тщательно мы прорабатываем юзабилити и сценарии поведения посетителя на сайте, в соответствии с этим нами выстраивается схема расположения ключевых блоков и навигации.
												li Дизайн сайта должен быть современным, понятным и комфортным. Во всем мире считается хорошим тоном единообразие шрифтов и минимум выделений курсивом, размером и т.д. Такой подход обеспечивает посетителю визуальный комфорт на Вашем веб-сайте, а Вам поможет увеличить аудиторию.
							section
								.row
									.col_md_6
										+e.section
											+e.image
												img(src="img/cartoons/semantic.jpg", alt="img")
									.col_md_6
										+e.section
											+e.H2.title При верстке HTML-страниц:
											ul
												li Мы строго соблюдаем стандарты кодирования W3C (DTD XHTML 1.0 Transitional и DTD XHTML 1.0 Strict).
												li В своих проектах мы используем только блочную, семантическую верстку.
												li Наша верстка уже по умолчанию SEO-ориентирована, содержит правильную структуру заголовков и прочих семантических тегов.
												li Вся верстка проверяется нами на полную идентичность во всех самых распространенных браузерах: Mozilla FireFox 2.0 и выше, Internet Explorer 9.0 и выше, Opera 8 и выше, Google Chrome, Safari, Netscape Navigator.
												li Вся наша верстка оптимизируется под любые разрешения мониторов. Ни на одном мониторе Вы не обнаружите никаких «перекосов» страниц, характерных для некачественной верстки.
							section
								.row
									.col_md_6
										+e.section
											+e.image
												img(src="img/cartoons/mvc.jpg", alt="img")
									.col_md_6
										+e.section
											+e.H2.title При разработке програмной составляющей:
											ul
												li При выборе технологии разработки мы используем только проверенные решения. Абсолютное большинство наших проектов выполнено на наших собственных CMS Nexus 2.0 и Zendy (на базе ZendFramework), что дает клиенту больший простор для идей и небывалую техническую гибкость реализации.
												li Программный код наших продуктов пишется так, словно завтра его будут проверять ведущие методисты и теоретики в области разработки программного обеспечения.
												li При написании кода мы строго придерживаемся принципов ООП (объектно-ориентированного программирования) и проверенных практик построения архитектуры, описанных паттернами проектирования (GoF), MVC и DRY (англ. Don’t Repeat Yourself – не повторяй себя).
												li Мы строго соблюдаем стандарты написания кода, одобренные разработчиками ZendFramework и языка PHP.
												li Мы придерживаемся низкосвязанной, модульной архитектуры при разработке приложений.
							section
								.row
									.col_md_6
										+e.section
											+e.image
												img(src="img/cartoons/bugs.jpg", alt="img")
									.col_md_6
										+e.section
											+e.H2.title На этапе тестирования:
											ul
												li При выборе технологии разработки мы используем только проверенные решения. Абсолютное большинство наших проектов выполнено на наших собственных CMS Nexus 2.0 и Zendy (на базе ZendFramework), что дает клиенту больший простор для идей и небывалую техническую гибкость реализации.
												li Программный код наших продуктов пишется так, словно завтра его будут проверять ведущие методисты и теоретики в области разработки программного обеспечения.
												li При написании кода мы строго придерживаемся принципов ООП (объектно-ориентированного программирования) и проверенных практик построения архитектуры, описанных паттернами проектирования (GoF), MVC и DRY (англ. Don’t Repeat Yourself – не повторяй себя).
												li Мы строго соблюдаем стандарты написания кода, одобренные разработчиками ZendFramework и языка PHP.
												li Мы придерживаемся низкосвязанной, модульной архитектуры при разработке приложений.
							section
								.row
									.col_md_6
										+e.section
											+e.image
												img(src="img/cartoons/man-with-logo.jpg", alt="img")
									.col_md_6
										+e.section
											+e.H2.title Благодаря нашим непоколебимым принципам работы наши продукты:
											ul
												li Удобные, современные и запоминающиеся.
												li Не содержат никаких помарок, таких как: «плавающие» углы, шрифты, вылезающие за границы элементы и тому подобные небрежности, которые могут в дальнейшем сказаться на имидже клиента.
												li Отображаются одинаково на всех браузерах и мониторах с любым разрешением.
												li Очень легко воспринимаются поисковыми машинами при минимальных усилиях SEO-оптимизатора, что помогает клиенту увеличить аудиторию своего веб-сайта.
												li Обладают высоким уровнем надежности и отказоустойчивости, могут стабильно работать в условиях высоких нагрузок и DDOS атак.
							section
								.row
									.col_md_6
										+e.section
											+e.image
												img(src="img/cartoons/all-together.jpg", alt="img")
									.col_md_6
										+e.section
											+e.H2.title Мы дорожим своей репутацией, заслуженной годами тяжелой работы, и именно поэтому мы никогда НЕ используем:
											ul
												li непроверенные скрипты сторонних разработчиков.
												li чужие бесплатные CMS с открытым кодом и потенциальными уязвимостями.
												li готовые шаблоны дизайна (ни бесплатные, ни платные).
												li чужую верстку.



			+modal()
				+modal-feedback()




		+inject('footer')
			+footer()
