include ../modules/_active/_active

- var pageTitle = "Рекомендательные письма"

doctype html
html(class="no-js" lang=config.lang)

	head
		title= pageTitle + " — " + config.projectName
		+head()

	+page()
		+inject('header')
			+header-inner()


		+inject('main')

			+b.layout
				+e.wrapper
					+breadcrumbs()
					h1.page-title Рекомендательные письма
				+e.wrapper_full-md
					+b.UL.list-rewards
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум под наркотиком
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне мышления
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Ум за разум
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text ОГРБО
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
						+e.LI.item
							+b.card-reward
								+e.A(href="upload/rewards/1.png").link
								+e.image
									img(src="upload/rewards/1.png", alt="img")
								+e.text Всемирная лига Разум вне наркотика
				+e.wrapper
					p
						a(href="#").link-dashed Показать ещё

			+modal()
				+modal-feedback()




		+inject('footer')
			+footer()
