include ../../../v_special/bemto/bemto
include ../mixins/mixins



include ../injected/injected
include ../head/head
include ../header/header
include ../footer/footer
include ../page/page


include ../breadcrumbs/breadcrumbs
include ../paginator/paginator
include ../simple/simple
include ../modal/modal
include ../slick/slick
include ../social-likes/social-likes
