mixin slick(style)
	-var style = style || 'main'


	if style == 'main'
		+b.carousel-main
			+e.track
				+e.item
					+link()
						img(src="http://cdn.fishki.net/upload/post/2016/09/24/2084684/tn/34-1.jpg", alt="img")
				+e.item
					+link()
						img(src="http://cdn.fishki.net/upload/post/2016/09/24/2084684/24-4.jpg", alt="img")
				+e.item
					+link()
						img(src="http://cdn.fishki.net/upload/post/2016/09/24/2084684/19-6.jpg", alt="img")










	else
		block