.slick-slider
	noselect()
	position relative
	display block
	box-sizing border-box
	-webkit-touch-callout none
	noselect()
	-ms-touch-action pan-y
	// touch-action pan-y
	-webkit-tap-highlight-color transparent

.slick-list
	position relative
	display block
	overflow hidden
	margin 0
	padding 0
	&:focus
		outline none
	&.dragging
		cursor pointer
		// cursor hand

.slick-slider .slick-track,
.slick-slider .slick-list
	-webkit-transform translate3d(0, 0, 0)
	-moz-transform translate3d(0, 0, 0)
	-ms-transform translate3d(0, 0, 0)
	-o-transform translate3d(0, 0, 0)
	transform translate3d(0, 0, 0)

.slick-track
	position relative
	top 0
	left 0
	display block
	&:after
		clear both

.slick-track:before,
.slick-track:after
	display table
	content ''

.slick-loading
	.slick-track
		visibility hidden
	.slick-slide
		visibility hidden

.slick-slide
	display none
	float left
	height 100%
	min-height 1px
	img
		display block
	&.slick-loading
		img
			display none
	&.dragging
		img
			// pointer-events none

[dir='rtl']
	.slick-slide
		float right

.slick-initialized
	.slick-slide
		display block

.slick-vertical
	.slick-slide
		display block
		height auto
		border 1px solid transparent

.slick-arrow
	&.slick-hidden
		display none




// Carousel-main:
// dots: true,
// arrows: false,
.carousel-main
	position relative
	dotsPosition = 10px
	dotsSize = 10px
	dotsMargin = 5px

	&__item
		img
			width 100%
	& .slick-dots
		position absolute
		left 0
		right 0
		top dotsPosition
		margin auto
		text-align center
		margin 0
		padding 0
		list-style none
		line-height 0
		& li
			margin dotsMargin
			display inline-block
			& button
				padding 0
				height dotsSize
				width dotsSize
				font-size 0
				background-color transparent
				border 1px solid #fff
				border-radius 50%
				box-shadow none
		& li.slick-active
			& button
				background-color #fff

